.ui-datepicker
	width: 140px
	padding: .2em .2em 0
	display: none
	.ui-datepicker-header
		position: relative
		padding: .2em 0
	.ui-datepicker-prev, .ui-datepicker-next
		position: absolute
		top: 65px
		width: 1.8em
		height: 1.8em
	.ui-datepicker-prev-hover, .ui-datepicker-next-hover
		top: 65px
	.ui-datepicker-prev
		left: 168px
	.ui-datepicker-next
		right: -70px
	.ui-datepicker-prev-hover
		left: 168px
	.ui-datepicker-next-hover
		right: -70px
	.ui-datepicker-prev 
		span 
			display: block
			position: absolute
			left: 50%
			margin-left: -8px
			top: 50%
			margin-top: -8px
	.ui-datepicker-next
		span
			display: block
			position: absolute
			left: 50%
			margin-left: -8px
			top: 50%
			margin-top: -8px
	.ui-datepicker-title
		margin: 0 2.3em
		line-height: 1.8em
		text-align: center
		select
			font-size: 1em
			margin: 1px 0
	table
		width: 100%
		font-size: .7em
		border-collapse: collapse
		margin: 0 0 .4em
	th
		padding: 3px 3px
		text-align: center
		font-weight: bold
		border: 0
		color: #7c7c7c
		text-transform: lowercase
	td
		border: none
		span, a
			display: block
			padding: .2em
			text-align: center
			text-decoration: none
	.ui-datepicker-buttonpane
		background-image: none
		margin: .7em 0 0 0
		padding: 0 .2em
		border-left: 0
		border-right: 0
		border-bottom: 0
		button
			float: right
			margin: .5em .2em .4em
			cursor: pointer
			padding: .2em .6em .3em .6em
			width: auto
			overflow: visible
		.ui-datepicker-current
			float: left
	.ui-datepicker-title
		height: 0
		.ui-datepicker-month
			position: absolute
			left: 143px
			top: 38px
			width: 84px
			text-align: center
			display: block
			color: #caacc3
		.ui-datepicker-year
			color: #e1cace
			position: absolute
			left: 154px
			top: 15px
			font-size: 30px
	.ui-state-active
		padding: 0
		+background( linear-gradient(top, #D6AFB0 0%, #9c6bae 100%))
		margin: 0
		line-height: 17px
		padding-right: 1px
		border-top: 1px solid transparent
		+box-shadow(2px 3px 5px -2px #57183D)
	.ui-widget-header
		font-weight: initial
		.ui-icon
			background-image: url(images/arrow.png)
			width: 7px
			height: 8px
		.ui-icon-circle-triangle-w
			background-position: 2px 0px
		.ui-icon-circle-triangle-e
			background-position: -9px 0px