.violet-link
    color: #9c6bae
    &:hover
        color: #9c6bae
.dotted-link
    color: #a49887
    border-bottom: 1px dotted #a49887
    &:hover
        color: #925ca7
        border-bottom: 1px dotted #925ca7
        text-decoration: none
.brown-link
    color: #775a4e
    font-weight: initial
    text-decoration: underline
    &:hover
        color: #874ea0
.beige
    color: #8e7669
    text-decoration: underline
    &:hover
        color: #874ea0
.all-stuf
    color: #bd97b2
    text-decoration: none
    &:hover
        color: #bd97b2
        text-decoration: underline