// libs
// @import compass/reset.scss
// @import bootstrap.scss
@import bootstrap/mixins.scss
@import compass
@import recipes
@import links
@import datepicker
// @import font-awesome
$borderColor: #f4f1e2
@font-face
    font-family: "Century_Gothic"
    src: url("../font/GOTHIC.ttf")
// GOTHIC
////////// Advanced clases
.pagination.center
    text-align: center
.pagination ul
    // FF2 or lower
    display: -moz-inline-box
    display: inline-block
    //IE6/7 inline-block hack
    *display: inline
    *zoom: 1
.micro
    font-size: 10px
    line-height: 13px
.little
    font-size: 12px
    line-height: 13px
.large
    font-size: 14px


.gray
    color: #999
.footer-gray
    color: #666666
.green
    color: #3A894C
.brown
    color: #a49887
.violet
    color: #9c6bae
.light
    color: #e9e5d7
span.danger
    color: #B94A48
.btn-center
    margin-left: auto
    margin-right: auto
    display: table
.form-horizontal .form-actions
    padding-left: 20px
.form-horizontal .control-label
    text-align: left
.brand
    color: white !important



html
    overflow-y: scroll
html, body
    height: 100%
    position: relative
body
    background: #f9f5e5

.margin-top
    margin-top: 7px
.padding-top
    padding-top: 7px !important
.upper
    text-transform: uppercase

////
header
    height: 404px
    position: relative
    &:before
        content: ""
        position: absolute
        height: 510px
        width: 1240px
        left: -216px
        top: 0
        z-index: -1
        background: url(../img/header5.png) no-repeat
    #header1
        position: absolute
        top: 11px
        left: 374px
        letter-spacing: 0px
        font-size: 12px
    #header2
        position: absolute
        top: 17px
        left: 553px
        font-family: arial
        letter-spacing: 0px
        font-weight: initial
    #header3
        position: absolute
        top: 36px
        left: 553px
        font-family: arial
        letter-spacing: 0px
        a
            color: #9c6bae
            border-bottom: 1px dotted #9c6bae
            text-decoration: none
            font-weight: initial
            &:hover
                color: #9c6bae
                text-decoration: none
                border-bottom: 1px dotted transparent
    #header4
        position: absolute
        top: 36px
        right: 10px
        font-family: arial
        letter-spacing: 0px
        font-weight: inherit
#go-search
    display: inline-block
    img
        vertical-align: top
        position: relative
        top: 1px

article
    margin-top: -160px
    position: relative
.inline
    display: inline-block
// tipograph
h2
    font-size: 14px
    line-height: 20px
    font-family: "Century_Gothic", "Arial", "Helvetica Neue", "Helvetica", sans-serif
    // letter-spacing: 1px
h3
    font-size: 11px
    line-height: 15px
    font-weight: inherit
p
    color: #666
    font-size: 14px
    line-height: 18px
    margin-top: 7px

.current
    color: #b6ac9b
.top
    vertical-align: top
    margin-top: 2px

#nav_top
    margin-top: 85px
    height: 36px
    .nav-top
        font-size: 12px
        margin-left: -10px
        list-style: none
        li
            float: left
            padding: 5px 10px
            &:hover
                background: rgba(225, 225, 225, 0.24)
                border-radius: 5px
            a
                color: #775a4e
                &:hover
                    color: #925ca7
                    background: rgba( 0, 0, 0, 0.0)
                    text-decoration: none
    input
        width: 120px
        margin-left: -38px
        margin-right: 10px
#nav_bottom
    list-style: none
    height: 120px
    margin-left: -10px
    margin-top: 15px
    text-transform: uppercase
    font-size: 10px
    li
        float: left
        margin-right: 0px
        width: 93px
        height: 108px
        text-align: center
        padding-left: 5px
        padding-right: 5px
        position: relative
        line-height: 1.4em
        &:hover
            background: #fff
            +box-shadow(0 0 5px -2px #a49887)
            +border-radius(4px)
        a
            color: #84499e
            margin-top: 65px
            display: block
            font-weight: inherit
            &:hover
                color: #84499e
                text-decoration: none
    #search-goods
        &:before
            content: ""
            position: absolute
            height: 83px
            width: 170px
            top: -6px
            left: 0px
            background: url(../img/nav/nav3.png) no-repeat
    #personal-servses
        &:before
            content: ""
            position: absolute
            height: 83px
            width: 170px
            top: 11px
            left: 0px
            background: url(../img/nav/nav.png) no-repeat
    #invitation-design
        &:before
            content: ""
            position: absolute
            height: 83px
            width: 170px
            top: 10px
            left: 0px
            background: url(../img/nav/nav2.png) no-repeat
    #real-satistics
        &:before
            content: ""
            position: absolute
            height: 83px
            width: 170px
            top: 16px
            left: 0px
            background: url(../img/nav/nav5.png) no-repeat
    #servises-map
        &:before
            content: ""
            position: absolute
            height: 83px
            width: 170px
            top: 17px
            left: -3px
            background: url(../img/nav/nav4.png) no-repeat
    #wedd-pallets
        &:before
            content: ""
            position: absolute
            height: 83px
            width: 170px
            top: 7px
            left: 14px
            background: url(../img/nav/nav1.png) no-repeat       

.left-menu-shadow
    +drop-shadow-curled-corners($border-radius: 120px 120px 120px 120px/37px 37px 30px 30px, $box-shadow: 0 8px 12px rgba(#000, .5), $skew: 0deg, $rotate: 0deg, $distance: 1px)
.shadow-line
    &:after
        content: ""
        position: absolute
        background: url(../img/shadow/shadow.png)
        width: 249px
        height: 49px
        bottom: -20px
        left: 17px
        z-index: -1
#left-menu
    +border-radius(120px 120px 120px 120px/37px 37px 30px 30px)
    margin-left: 36px
    width: 215px
    padding: 42px 20px
    background-color: #F7F0D8
    +background(url(../img/sloi_01.png) no-repeat 0% -160px, url(../img/sloi_02.png) no-repeat 0% 136%, linear-gradient(top, #fcf9e8 0%, #f6f3d4 0%, #fffdee 30%, #f4edd1 58%, #ead4ab 100%, #e9d6ab 100%, #f4e9d5 100%))
    -pie-background: (url(../img/sloi_01.png) no-repeat 0% -160px, url(../img/sloi_02.png) no-repeat 0% 136%, linear-gradient(top, #fcf9e8 0%, #f6f3d4 0%, #fffdee 30%, #f4edd1 58%, #ead4ab 100%, #e9d6ab 100%, #f4e9d5 100%))
    behavior: url(css/PIE/PIE.htc)
    &:before, &:after
        height: 82%
        bottom: 40px
    #nav-left
        margin-left: 0px
        .active
            a
                color: #9c6bae
                text-decoration: none
                border-bottom: none
            ul
                margin-left: 0
                margin-top: 8px
                li
                    color: #a49887
                    margin-top: 3px
                    a
                        color: #a49887
                        text-decoration: none
                        font-size: 13px
                        border-bottom: 1px #a49887 solid
                        padding-bottom: 2px
                        &:hover
                            color: #9c6bae
                            text-decoration: none
                            border-bottom: none
        li
            margin-left: 20px
            color: #775a4e
            margin-top: 7px
            a
                color: #775a4e
                text-decoration: none
                font-size: 14px
                border-bottom: 1px #775a4e solid
                padding-bottom: 2px
                &:hover
                    color: #9c6bae
                    text-decoration: none
                    border-bottom: none
.b-line
    border-bottom: 1px dotted #a49887
.wh-line
    border-bottom: 1px solid white
    padding-bottom: 10px
.white
    color: #fff

.label
    background-color: #b6a993
    font-size: 9px
    +text-shadow(none)
    padding: 2px 4px
.cute
    padding: 2px
    background: #fff
.foto-g
    position: relative
    .link
        position: absolute
        top: 56px
        left: 6px
        +gradient-vertical($startColor: #ac83b2, $endColor: #884fa1)
        height: 36px
        width: 115px
        padding: 2px 10px
        a
            color: #f0b3d3
            border-bottom: 0px dotted transparent
.search-result-box
    border-top: 1px solid #a49887
    border-bottom: 1px solid #a49887
    padding: 10px 0px
    color: #a273b1
.search-result
    padding: 5px 0
    p
        color: #666666
        b
            color: #333333
            font-weight: bold
    .violet-link
        text-decoration: underline
        font-size: 14px
.pagination
    margin: 0
    ul
        +box-shadow(none)
    .active
        a 
            color: #e9e5d7
            +buttonBackground(#a576b3, #82469d)
            +border-radius(5px)
            &:hover
                color: #f0b3d3
    a
        border: none
        +box-shadow(0 0 0 0 0px none)
        text-decoration: underline
        color: #a49887
        padding: 0 10px
        line-height: 27px
        &:hover
            color: #775a4e
            background: transparent
.calendar-pagination
    margin-left: 20px
    span
        color: #8e7669
    a
        color: #8e7669
        &:hover
            color: #a273b1


.busy-days
    list-style: none
    margin-left: 0
    li
        margin-top: 5px
        a
            color: #8e7669
            font-size: 14px
            text-decoration: underline
            &:hover
                color: #9c6bae
.line1
    margin-top: -12px
.line2
    margin-top: 30px
.line3
    margin-top: 30px
.video-box
    height: 250px
    background: gray
    margin-bottom: 20px
.white-b
    background-color: #fcfaef
    padding: 5px 5px 5px 11px
    min-height: 30px
    +border-radius(3px)
    position: relative
    margin-top: 15px
    img
        margin-right: 10px
        margin-top: 6px
    .white-b-cont
        display: table-cell
.white-bg
    background: #fff
.horizontal
    +background( linear-gradient(left, rgba(244,232,202,0) 0%, rgba(244,232,202,1) 1%, rgba(244,232,204,1) 8%, rgba(247,239,221,1) 20%, rgba(246,234,215,1) 23%, rgba(245,232,213,1) 30%, rgba(244,225,206,1) 35%, rgba(242,223,206,1) 40%, rgba(243,222,206,1) 53%, rgba(246,229,203,1) 82%, rgba(245,229,204,1) 100%))
    -pie-background: ( linear-gradient(left, rgba(244,232,202,0) 0%, rgba(244,232,202,1) 1%, rgba(244,232,204,1) 8%, rgba(247,239,221,1) 20%, rgba(246,234,215,1) 23%, rgba(245,232,213,1) 30%, rgba(244,225,206,1) 35%, rgba(242,223,206,1) 40%, rgba(243,222,206,1) 53%, rgba(246,229,203,1) 82%, rgba(245,229,204,1) 100%))
    behavior: url(css/PIE/PIE.htc)
#calendar
    +border-radius(5px)
    min-height: 320px
    position: relative
    padding-right: 40px
    padding-left: 24px
    padding-top: 15px
    &:before
        content: ""
        position: absolute
        height: 159px
        width: 79px
        bottom: 14px
        left: 170px
        background: url(../img/bocal.png) no-repeat
    #sampun
        position: absolute
        bottom: 42px
        left: 25px
        display: block
        width: 160px
    #pink-line
        position: absolute
        top: 105px
        right: 43px
        background: url(../img/lines/line.png) no-repeat
        height: 15px
        width: 2px
#weddings
    +border-radius(5px)
    min-height: 192px
    padding-left: 24px
    padding-top: 15px
    padding-right: 40px
    position: relative
    &:before
        content: ""
        position: absolute
        height: 75px
        width: 79px
        bottom: -28px
        left: 205px
        background: url(../img/rings.png) no-repeat
    .gr-line
        position: relative
        margin-right: 20px
        &:after
            content: ""
            position: absolute
            width: 2px
            height: 14px
            right: -10px
            top: 3px
            background: url(../img/lines/line2.png) no-repeat
.abstract
    background-color: #fff
    +background( linear-gradient(top, rgba(255,235,189,1) 0%, rgba(253,240,204,1) 25%, rgba(255,236,191,1) 43%, rgba(254,233,190,1) 49%, rgba(238,213,201,1) 100%))
    -pie-background: ( linear-gradient(top, rgba(255,235,189,1) 0%, rgba(253,240,204,1) 25%, rgba(255,236,191,1) 43%, rgba(254,233,190,1) 49%, rgba(238,213,201,1) 100%))
    behavior: url(css/PIE/PIE.htc)
#abstract
    +border-radius(5px)
    min-height: 157px
    padding-left: 24px
    padding-top: 15px
    padding-right: 40px
    position: relative
.modal
    .modal-footer
        background-color: transparent
        border-top: 1px solid transparent
        +box-shadow(none)
        a
            margin-right: 251px
            padding: 3px 43px
    .modal-header
        border-bottom: 1px solid transparent

.left-col-box
    width: 193px
    margin-top: 25px
    margin-left: 34px
footer
    height: 260px
    background: url(../img/footer.png) repeat-x
    margin-top: 30px
    h2
        margin-left: 10px
    span
        float: left
    input
        width: 110px
        margin-right: 5px
    ul
        color: #775a4e
        width: 140px
        margin-top: 15px
        li
            a
                color: #775a4e
                font-size: 12px
                &:hover
                    color: #874ea0
    #footer1
        height: 196px
        padding-top: 15px
    #footer2
        height: 35px
        padding-top: 10px
        span
            margin-right: 10px
    #us-in-web
        margin-left: 36px
        a
            margin-left: 2px
            display: inline-block
            img
                display: inline-block
.btn-pink
    color: #f0b3d3
    +buttonBackground(#a576b3, #82469d)
    text-shadow: none
    &:hover
        color: #f0b3d3
.btn-pink-light
    color: #e9e5d7
    +buttonBackground(#a576b3, #82469d)
    text-shadow: none
    &:hover
        color: #f0b3d3
.pink-b
    +gradient-horizontal($startColor: #f1ded2, $endColor: #fcfaef)
    +border-radius(5px)
    padding: 4px 5px 0px 10px
    margin-top: -20px
    margin-left: 35px
    span
        width: 80px
        display: table-cell
        vertical-align: middle
        margin-top: 5px
    input
        margin-top: 5px
    button
        margin-top: -4px
.pro
    position: relative
    margin-left: 16px
    &:before
        content: ""
        position: absolute
        top: 2px
        left: -18px
        height: 12px
        width: 15px
        background: url(../img/icon/pro.png) no-repeat
.icon
    position: relative
    &:before
        content: ""
        position: absolute
        top: 3px
        left: -20px
        height: 20px
        width: 15px
.icon_small
    position: relative
    &:before
        content: ""
        position: absolute
        top: 0px
        left: -20px
        height: 20px
        width: 15px
.brown-line
    border-bottom: 1px solid #c6b9a5
    width: 620px
    margin-left: 20px
.description-box
    p
        margin-left: 20px
    a
        text-decoration: underline
        color: #925ca7
        &:hover
            color: #957c6e
    ul
        margin-left: 20px
        li
            margin-top: 8px
    .simple-list
        list-style: none
        position: relative
        li
            margin-top: 0px
            &:before
                content: "-"
                margin-right: 5px
.functions
    p
        color: #8e7669
        font-size: 12px
        line-height: 12px
    .print
        margin-left: 16px
        &:before
            background: url(../img/icon/print.png) no-repeat
    .favor
        margin-left: 16px
        &:before
            background: url(../img/icon/favor.png) no-repeat
.print
    &:before
        background: url(../img/icon/print.png) no-repeat
.favor
    &:before
        background: url(../img/icon/favor.png) no-repeat
.rate
    &:before
        background: url(../img/icon/rate.png) no-repeat
.views
    &:before
        background: url(../img/icon/views.png) no-repeat
.info
    margin-left: 16px
    h3
        font-size: 14px
    a
        font-size: 14px
        line-height: 18px
    .time
        &:before
            background: url(../img/icon/time.png) no-repeat
    .city
        &:before
            background: url(../img/icon/city.png) no-repeat
    .str
        &:before
            background: url(../img/icon/str.png) no-repeat
    .skype
        &:before
            background: url(../img/icon/skype.png) no-repeat
    .phone
        &:before
            background: url(../img/icon/phone.png) no-repeat
    .e-mail
        &:before
            background: url(../img/icon/email.png) no-repeat
    .icq
        &:before
            background: url(../img/icon/icq.png) no-repeat
    .contact
        &:before
            background: url(../img/icon/contact.png) no-repeat

#home
    #articles
        h3
            font-size: 11px
            a
                color: #775a4e
                text-decoration: underline
                font-weight: initial
                &:hover
                    color: #874ea0
        p
            color: #666666
            font-size: 12px
    .line3
        h2
            max-width: 203px
    #to-forum
        float: right
.portfolio
    a
        margin-right: 10px
        color: #a49887
        &:hover
            color: #9c6bae
    button
        margin-right: 10px
.catalog-out
    .icon
        line-height: 14px
        color: #8e7669
    td
        width: 25%
        padding: 0 7px
        vertical-align: top
    .last-tr td
        padding-top: 15px
        padding-bottom: 25px
    td[colspan="2"]
        width: 50%
    tr:first-child td
        padding-top: 25px
    tr:last-child td
        padding-top: 15px
        padding-bottom: 25px
    .stat
        margin-left: 20px
    .cute
        width: 138px
    .btn
        padding: 1px 30px
        font-size: 14px
    .portfolio
        font-size: 14px
#footer-logo
    background: url(../img/footer/footer-logo.png) no-repeat
    height: 136px
    margin-top: -15px
    height: 176px
#textarea
    width: 100%
    +box-sizing(border-box)
    max-width: 100%