<!doctype html>
<html lang="ru">
	<head>
		<meta charset="utf-8" />
		<title><%= @title %></title>
		
		<link rel="stylesheet" href="css/pepper-grinder/jquery-ui-1.8.22.custom.css" />
		<link rel="stylesheet" href="css/bootstrap.css" />
		<link rel="stylesheet" href="css/screen.css" />
	</head>
	<body id="<%= @id %>">
		<!--[if IE]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<form class="modal hide abstract" id="modal-enter">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h2 class="violet upper">Вход на сайт</h2>
			</div>
			<div class="modal-body">
				<div class="control-group error">
					<label class="control-label" for="login">Ваш логин</label>
					<div class="controls">
						<input type="text" class="input-xlarge" id="login">
						<p class="help-inline">Такого пользователя не существует.</p>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="password">Ваш пароль</label>
					<div class="controls">
						<input type="text" class="input-xlarge" id="password">
						<p class="help-inline"></p>
					</div>
				</div>
				<a href="#" class="violet">Забыли пароль?</a>
			</div>
			<div class="modal-footer">
					<a href="#" class="btn btn-pink" data-dismiss="modal">Войти</a>
			</div>
		</form>
		<header class="container">
			<div class="row">
				<div class="span12">
					<h2 id="header1" class="brown upper">Свадебный портал</h2>
					<h2 id="header2" class="brown">Выберите город:</h2>
					<h2 id="header3" ><a href="#">Петропавловск-Камчатск</a></h2>
					<h2 id="header4" class="brown"><a class="dotted-link" data-toggle="modal" href="#modal-enter">Вход</a>  или  <a class="dotted-link" href="#">Регистрация</a></h2>
				</div>
			</div>
			<div id="nav_top">
				<div class="row">
					<div class="span6 offset4">
						<ul class="nav-top">
							<li><a href="#">Главная</a></li>
							<li><a href="#">Свадебный гид</a></li>
							<li><a href="#">Форум</a></li>
							<li><a href="#">Блоги</a></li>
							<li><a href="#">Статьи</a></li>
							<li><a href="#">Галерея</a></li>
						</ul>
					</div>
					<div class="span2">
						<input class="inline" type="text" placeholder="Поиск"></input>
						<div id="go-search"><a href="#"><img src="img/icon/ic12.png"/></a></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="span8 offset4">
					<ul id="nav_bottom">
						<li id="search-goods"><a href="#">Поиск товаров и услуг</a></li>
						<li id="personal-servses"><a href="#">Создание персональных сайтов</a></li>
						<li id="invitation-design"><a href="#">Дизайн приглашений на свадьбу</a></li>
						<li id="real-satistics"><a href="#">Реальные отчеты</a></li>
						<li id="servises-map"><a href="#">Карта свадебных услуг</a></li>
						<li id="wedd-pallets"><a href="#">Свадебные палитры</a></li>
					</ul>
				</div>
			</div>

		</header>
		<article class="container">
			<div class="row">
				<div class="span4 line1">
					<div id="left-menu" class="left-menu-shadow">
						<h2 class="violet upper">УСЛУГИ</h2>
						<ul id="nav-left">
							<li><a href="#">Организаторы</a></li>
							<li><a href="#">Свадебные наряды</a></li>
							<li><a href="#">Салоны красоты</a></li>
							<li class="active"><a href="#">Обручальные кольца</a>
								<ul>
									<li><a href="#">Магазины</a></li>
									<li><a href="#">Мастерские</a></li>
									<li><a href="#">Прочее</a></li>
								</ul>
							</li>
							<li><a href="#">Машины на свадьбу</a></li>
							<li><a href="#">Фото и Видео</a>
							</li>
							<li><a href="#">Свадебный банкет</a></li>
							<li><a href="#">Свадебные цветы</a></li>
							<li><a href="#">Оформление свадьбы</a></li>
							<li><a href="#">Тамада. Ведущий</a></li>
							<li><a href="#">Свадебный салют</a></li>
							<li><a href="#">Подарки на свадьбу</a></li>
							<li><a href="#">Подготовка к свадьбе</a></li>
							<li><a href="#">Медовый месяц</a></li>
						</ul>
					</div>
					<div id="calendar" class="calendar left-col-box horizontal shadow-line">
						<h2 class="violet upper">МОЯ СВАДЬБА</h2>
						<div id="datepicker"></div>
						<a id="sampun" class="violet-link" href="#">Укажи дату свадьбы и получи в подарок ящик шампанского!</a>
						<div id="pink-line"></div>
					</div>
					<div class="left-col-box horizontal shadow-line" id="weddings">
						<h2 class="violet upper">Ближайшие свадьбы</h2>
						<div class="margin-top">
							<span class="gr-line">18 августа</span><a class="violet-link" href="#">Лиза и Антон</a>
						</div>
						<div class="margin-top">
							<span class="gr-line">18 августа</span><a class="violet-link" href="#">Лиза и Антон</a>
						</div>
						<div class="margin-top">
							<span class="gr-line">18 августа</span><a class="violet-link" href="#">Лиза и Антон</a>
						</div>
						<div class="margin-top">
							<span class="gr-line">18 августа</span><a class="violet-link" href="#">Лиза и Антон</a>
						</div>
						<div class="margin-top">
							<span class="gr-line">18 августа</span><a class="violet-link" href="#">Лиза и Антон</a>
						</div>
					</div>
					<div id="abstract" class="left-col-box abstract shadow-line">
						<h2 class="violet upper">Абстрактный блок</h2>
						<p>С обычным текстом. С обычным текстом.С обычным текстом. С обычным текстом. С обычным текстом.</p>
					</div>


				</div>
				<%= yield %>
		</article>
		
		<footer>
			<div class="container">
				<div class="row" id="footer1">
					<div class="span4">
						<div id="footer-logo"></div>
						<div class="pink-b">
							<span class="micro inline">Подписка на </br> рассылку:</span>
							<input type="text" class="inline" placeholder="Ваш e-mail"></input>
							<button class="btn btn-pink inline">OK</button>
						</div>
					</div>
					<div class="span4">
						<h2 class="footer-gray upper">УСЛУГИ</h2>
						<div class="row">
							<div class="span2">
								<ul>
									<li><a href="#">Организаторы</a></li>
									<li><a href="#">Свадебные наряды</a></li>
									<li><a href="#">Салоны красоты</a></li>
									<li><a href="#">Обручальные кольца</a></li>
									<li><a href="#">Машины на свадьбу</a></li>
									<li><a href="#">Фото и Видео</a></li>
									<li><a href="#">Свадебный банкет</a></li>
								</ul>
							</div>
							<div class="span2">
								<ul>
									<li><a href="#">Свадебные цветы</a></li>
									<li><a href="#">Оформление свадьбы</a></li>
									<li><a href="#">Тамада. Ведущий</a></li>
									<li><a href="#">Свадебный салют</a></li>
									<li><a href="#">Подарки на свадьбу</a></li>
									<li><a href="#">Подготовка к свадьбе</a></li>
									<li><a href="#">Медовый месяц</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="span2">
						<h2 class="footer-gray upper">ПОМОЩЬ</h2>
						<ul>
							<li><a href="#">Служба поддержки</a></li>
							<li><a href="#">Консультант</a></li>
							<li><a href="#">Обратная связь</a></li>
						</ul>
					</div>
					<div class="span2">
						<h2 class="footer-gray upper">СЕРВИСЫ</h2>
						<ul>
							<li><a href="#">Регистрация</a></li>
							<li><a href="#">Реклама</a></li>
							<li><a href="#">Поддержка</a></li>
						</ul>
					</div>
				</div>
				<div class="row" id="footer2">
					<div class="span5">
						<div id="us-in-web">
							<span class="light inline">Мы в соц сетях</span>
							<div class="inline">
								<a href="#"><img src="img/sotial/twitter.png"/></a>
								<a href="#"><img src="img/sotial/vkontakte.png"/></a>
								<a href="#"><img src="img/sotial/mailru.png"/></a>
								<a href="#"><img src="img/sotial/odnoklassniki.png"/></a>
								<a href="#"><img src="img/sotial/google.png"/></a>
								<a href="#"><img src="img/sotial/facebook.png"/></a>
								<a href="#"><img src="img/sotial/blogger.png"/></a>
								<a href="#"><img src="img/sotial/livejournal.png"/></a>
							</div>
						</div>
					</div>
					<div class="span3 offset4">
						<img src="img/footer/spylog.png"/>
						<img src="img/footer/spylog.png"/>
						<img src="img/footer/arrow.png"/>
					</div>
				</div>
			</div>	
		</footer>
	</body>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.22/jquery-ui.min.js"></script>
	<script src="js/bootstrap-modal.js"></script>
	<script src="js/site.js"></script>
	<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
</html>