<% @id = "catalog_plus" %>
<% @title = "Каталог_плюс" %>

<div class="span8 line2">
	<div>
		<a class="brown-link" href="#">Главная</a>
		<span>/<span>
		<a class="brown-link" href="#">Свадебный каталог</a>
		<span>/<span>
		<a class="brown-link" href="#">Свадебные платья</a>
		<span>/<span>
		<span class="current">SLANOVSKIY, фирменный свадебный салон</span>
	</div>
	<div class="margin-top">
		<h2 class="violet pro">SLANOVSKIY, фирменный свадебный салон</h2>
	</div>
	<div class="row margin-top">
		<div class="span4">
			<div class="well cute">
				<img src="img/bride/bride-big.png"/>
			</div>
		</div>
	</div>
	<div class="row"><div class="brown-line margin-top"></div></div>
	<div class="row margin-top">
		<div class="span8">
			<div class="description-box">
				<p>Представляем новые фотографии платьев Slanovskiy. Благодарим за фотосессию фотографа Перетрухину Елену, а также девушек моделей, согласившихся принять в ней участие.</p>
				<ul>
					<span>Мы дарим ПОДАРКИ всем нашим невестам:</span>
					<li>бесплатная подгонка платья по фигуре</li>
					<li>бесплатное отпаривание платья накануне свадьбы</li>
					<li>бесплатое хранение платьев до назначенного времени</li>
					<li>скидки 10% на весь ассортимент аксессуаров и обуви</li>
				</ul>
				<p>И самое главное: ПОДАРОЧНЫЙ СЕРТИФИКАТ на ОФОРМЛЕНИЕ СВАДЬБЫ!</p>
				<p>Вы можете использовать его для заказа</p>
				<ul>
					<li>свадебного букета</li>
					<li>оформления автомобилей</li>
					<li>оформления зала для свадебного торжества</li>
				</ul>
				<p>Свадебный салон Slanovskiy входит в группу компаний «Вальс», поэтому к услугам наших клиентов бесплатные консультации лучших флористов «Вальс цветов».</p>
				<p>Связаться с нашим свадебным распорядителем Вы можете по телефону 25-70-17 (8-927-375-70-17) или приехать к нам в event-агентство: г.Пенза, ул.Богданова, 61 телефоны 25-25-24</p>
				<p>Также присутствует в разделах:</p>

			</div>
		</div>
	</div>
	<div class="row"><div class="brown-line margin-top"></div></div>
	<div class="row margin-top">
		<div class="span8">
			<h2 class="violet">КАЛЕНДАРЬ ЗАНЯТЫХ ДНЕЙ</h2>
		</div>
	</div>
	<div class="row">
		<div class="span2">
			<h3 class="violet margin-top">Июль</h3>
			<ul class="busy-days margin-top">
				<li><a href="#">04 июля 2012</a></li>
				<li><a href="#">04 июля 2012</a></li>
				<li><a href="#">10 июля 2012</a></li>
				<li><a href="#">11 июля 2012</a></li>
			</ul>
		</div>
		<div class="span2">
			<h3 class="violet margin-top">Август</h3>
			<p class="margin-top">Свободно</p>
		</div>
	</div>
	<div class="row"><div class="brown-line margin-top"></div></div>
	<div class="row margin-top">
		<div class="span3">
			<h2 class="violet">ФОТОАЛЬБОМ</h2>
		</div>
		<div class="span4 offset1">
			<a class="beige pull-right" href="">Перейти к просмотру фотографий (83)</a>
		</div>
	</div>
	<div class="row margin-top">
		<div class="span8">
			<div class="row">
				<div class="span2">
					<div class="well cute"><img src="img/bride/bride.png"/></div>
				</div>
				<div class="span2">
					<div class="well cute"><img src="img/bride/bride.png"/></div>
				</div>
				<div class="span2">
					<div class="well cute"><img src="img/bride/bride.png"/></div>
				</div>
				<div class="span2">
					<div class="well cute"><img src="img/bride/bride.png"/></div>
				</div>
			</div>
		</div>
	</div>
</div>