<% @id = "catalog" %>
<% @title = "Каталог" %>

<div class="span8 line2">
	<div>
		<a class="brown-link" href="#">Главная</a>
		<span>/<span>
		<a class="brown-link" href="#">Свадебный каталог</a>
		<span>/<span>
		<a class="brown-link" href="#">Свадебные платья</a>
		<span>/<span>
		<span class="current">SLANOVSKIY, фирменный свадебный салон</span>
	</div>
	<div class="margin-top">
		<h2 class="violet pro">SLANOVSKIY, фирменный свадебный салон</h2>
	</div>
	<div class="row margin-top">
		<div class="span4">
			<div class="well cute">
				<img src="img/bride/bride-big.png"/>
			</div>
		</div>
		<div class="span4">
			<div class="info">
				<h3><a class="beige" href="#">Свадебные платья</a></h3>
				<p class="icon margin-top time">На сайте: 2 месяца</p>
				<p class="icon city">Город: Пенза</p>
				<p class="icon str">Адрес: ул.Славы, д.5</p>
				<p class="icon skype">slanovskiypnz</p>
				<p class="icon phone">+79273754966</p>
				<p class="icon e-mail"><a class="violet-link" href="#">slanovsky@yandex.ru</p></a>
				<p class="icon icq">234-567-543</p>
				<p class="icon contact">Контактные лица: Татьяна, Нина</p>
				<a class="violet-link" href="#">свадебный-дом.рф</a>
				<a class="violet-link" href="#">http://vk.com/feed#/club39138223</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span4">
			<div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="button" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,lj,gplus"></div>
		</div>
		<div class="span2 functions">
			<p class="icon_small print"><a class="beige" href="#">Распечатать</a></p>
			<p class="icon_small favor"><a class="beige" href="#">В избранное</a></p>
		</div>
		<div class="span2 functions">
			<p class="icon_small rate">Рейтинг: 520.5</p>
			<p class="icon_small views">Просмотры: 900</p>
		</div>

	</div>
	<div class="row"><div class="brown-line margin-top"></div></div>
	<div class="row margin-top">
		<div class="span8 margin-top">
			<div class="portfolio">
				<button class="btn btn-pink-light">ПОРТФОЛИО</button>
				<a href="#">Фото (631)</a>
				<a href="#">Видео (7)</a>
				<a href="#">Отзывы (0)</a>
				<a href="#">Магазин (0)</a>
				<a href="#">Объявления (0)</a>
			</div>
		</div>

	</div>
	
	<div class="row margin-top">
		<div class="span8">
			<div class="description-box">
				<p>Представляем новые фотографии платьев Slanovskiy. Благодарим за фотосессию фотографа Перетрухину Елену, а также девушек моделей, согласившихся принять в ней участие.</p>
				<ul class="simple-list">
					<span>Мы дарим ПОДАРКИ всем нашим невестам:</span>
					<li>бесплатная подгонка платья по фигуре</li>
					<li>бесплатное отпаривание платья накануне свадьбы</li>
					<li>бесплатое хранение платьев до назначенного времени</li>
					<li>скидки 10% на весь ассортимент аксессуаров и обуви</li>
				</ul>
				<p>И самое главное: ПОДАРОЧНЫЙ СЕРТИФИКАТ на ОФОРМЛЕНИЕ СВАДЬБЫ!</p>
				<p>Вы можете использовать его для заказа</p>
				<ul class="simple-list">
					<li>свадебного букета</li>
					<li>оформления автомобилей</li>
					<li>оформления зала для свадебного торжества</li>
				</ul>
				<p>Свадебный салон Slanovskiy входит в группу компаний «Вальс», поэтому к услугам наших клиентов бесплатные консультации лучших флористов «Вальс цветов».</p>
				<p>Связаться с нашим свадебным распорядителем Вы можете по телефону 25-70-17 (8-927-375-70-17) или приехать к нам в event-агентство: г.Пенза, ул.Богданова, 61 телефоны 25-25-24</p>
				<p>Также присутствует в разделах:</p>
				<ul class="violet">
					<li><a class="violet-link" href="#">Букет невесты</a></li>
					<li><a class="violet-link" href="#">Декорирование тканями</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row"><div class="brown-line margin-top"></div></div>
	<div class="row margin-top">
		<div class="span8">
			<h2 class="violet">КАЛЕНДАРЬ ЗАНЯТЫХ ДНЕЙ</h2>
		</div>
	</div>
	<div class="row">
		<div class="span2">
			<h3 class="violet large margin-top">Июль</h3>
			<ul class="busy-days margin-top">
				<li><a href="#">04 июля 2012</a></li>
				<li><a href="#">04 июля 2012</a></li>
				<li><a href="#">10 июля 2012</a></li>
				<li><a href="#">11 июля 2012</a></li>
			</ul>
		</div>
		<div class="span2">
			<h3 class="violet large margin-top">Август</h3>
			<p class="margin-top">Свободно</p>
		</div>
	</div>
	<div class="row">
		<div class="span8">
			<p class="inline">Смотреть занятые числа на другие месяцы</p>
			<div class="calendar-pagination inline">	
				<span class"inline">«</a> 
				<a href="#">Назад</a>
				<span class"inline">| Сегодня |</span> 
				<a class="inline" href="#">Вперед</a>
				<span class"inline">»</a>
			</div>	
		</div>
	</div>
	<div class="row"><div class="brown-line margin-top"></div></div>
	<div class="row margin-top">
		<div class="span3">
			<h2 class="violet">ФОТОАЛЬБОМ</h2>
		</div>
		<div class="span4 offset1">
			<a class="beige pull-right large" href="">Перейти к просмотру фотографий (83)</a>
		</div>
	</div>
	<div class="row margin-top">
		<div class="span8">
			<div class="row">
				<div class="span2">
					<div class="well cute"><img src="img/bride/bride.png"/></div>
				</div>
				<div class="span2">
					<div class="well cute"><img src="img/bride/bride.png"/></div>
				</div>
				<div class="span2">
					<div class="well cute"><img src="img/bride/bride.png"/></div>
				</div>
				<div class="span2">
					<div class="well cute"><img src="img/bride/bride.png"/></div>
				</div>
			</div>
		</div>
	</div>
</div>