<% @id = "catalog_out" %>
<% @title = "Каталог_аут" %>
<div class="span8 line2">
	<div>
		<a class="brown-link" href="#">Главная</a>
		<span>/<span>
		<a class="brown-link" href="#">Свадебный каталог</a>
		<span>/<span>
		<span class="current">Свадебные платья</span>
	</div>
	<div class="row">
		<div class="span8">
			<div class="description-box">
				<h2 class="violet upper margin-top">Свадебные платья</h2>
				<p>Свадебное платье, пожалуй, является самым главным украшением торжества. Ведь невеста, и ее свадебное платье соответственно, все время находятся в центре внимания. Современный выбор свадебных платьев очень велик: можно купить традиционное белое и пышное свадебное платье, свадебное платье необычного цвета, оригинальное платье для невесты.</p>
				
				<p>Для того, чтобы помочь сделать этот ответственный выбор, мы собрали для вас базу данных. В ней представлены свадебные салоны в разных городах, где можно купить свадебное платье, взять платье невесты напрокат или сшить свадебное платье на заказ по индивидуальным меркам.</p>
				<ul class="violet">
					<li><a href="#">Как сюда попасть?</a></li>
					<li><a href="#">Как попасть в VIP-размещение?</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span2">
			<div class="well cute">
				<img src="img/wedding/img.png"/>
			</div>
		</div>
		<div class="span2">
			<a class="pro brown-link" href="#">Салон свадебной и вечерней моды "Olivia"</a>
			<p class="little">Рождённым блистать... Экслюзивные свадебные платья и аксессуары.</p>
		</div>
		<div class="span2">
			<div class="well cute">
				<img src="img/wedding/img2.png"/>
			</div>
		</div>
		<div class="span2">
			<a class="pro brown-link" href="#">MARRY ME Wedding Dress Studio"</a>
			<p class="little">Свадебные платья и аксессуары коллекции салона «Classic de luxe"</p>
		</div>

	</div>
	<div class="row">
		<div class="span5">
			<div class="pagination">
				<ul>
					<li><a class="disabled">← Ctrl</a></li>
					<li><a href="#">Prev</a></li>
					<li class="active">
						<a class="btn" href="#">1</a>
					</li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">Next</a></li>
					<li><a class="disabled">Ctrl →</a></li>
				 </ul>
			</div>
		</div>
		<div class="span3">
			<button class="btn btn-pink-light">Добавить компанию в католог</button>
		</div>
	</div>
	<div class="row"><div class="brown-line"></div></div>
	<table class="catalog-out white-bg">
		<tr>
			<td >
				<div class="well cute">
					<img src="img/wedding/img.png"/>
				</div>
			</td>
			<td colspan="2">
				<h3 class="pro large"><a class="violet-link" href="#">Салон свадебной и вечерней моды "Olivia"</a></h3>
				<span>Пенза, Казань, Нижний Новгород, Самара, Москва</span><br />
				<span>Раздел: <a class="beige" href="#">Свадебные платья</a></span><br />
				<span>Много красивых слов.</span>
			</td>
			<td>
				<div class="stat">
					<p class="icon rate">Рейтинг: 520.5</p>
					<p class="icon views">Просмотры: 900</p>
					<p class="icon favor"><a class="violet-link" href="#">В избранное</a></p>
				</div>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<a class="brown-link" href="#">Магистр образов и дирижер мгновений</a>
				<p>Искусство фотографии неразрывно связано с нашей жизнью. Благодаря профессиональным навыкам фотографов мы имеем возможность оживлять  яркие воспоминания и приятные эмоции. С момента появления фотографии прошло немало времени,  но этот вид искусства не итряет популярности.</p>
				<a class="violet-link" href="#">Подробнее »</a>
			</td>
			<td colspan="2">
				<a class="brown-link" href="#">Постельное белье: выбор свадебного подарка на новый манер</a>
				<p>Думаете, что дарить белье на свадьбу не модно? Зря! В последнее время подобный подарок получил вторую жизнь, ведь ассортимент современных спальных наборов просто поражает своим разнообразием.</p>
				<a class="violet-link" href="#">Подробнее »</a>
			</td>
		</tr>
		<tr class="last-tr">
			<td colspan="2">
				<button class="btn btn-pink-light">Скидка 15 %</button>
			</td>
			<td colspan="2">
				<div class="portfolio">
					<a href="#">Фото (631)</a>
					<a href="#">Видео (7)</a>
					<a href="#">Отзывы (0)</a>
				</div>
			</td>
		</tr>
	</table>
	<div class="row"><div class="brown-line"></div></div>
	<table class="catalog-out">
		<tr>
			<td >
				<div class="well cute">
					<img src="img/wedding/img.png"/>
				</div>
			</td>
			<td colspan="2">
				<h3 class="large"><a class="violet-link" href="#">Салон свадебной и вечерней моды "Olivia"</a></h3>
				<span>Пенза, Казань, Нижний Новгород, Самара, Москва</span><br />
				<span>Раздел: <a class="beige" href="#">Свадебные платья</a></span><br />
				<span>Много красивых слов.</span>
			</td>
			<td>
				<div class="stat">
					<p class="icon rate">Рейтинг: 520.5</p>
					<p class="icon views">Просмотры: 900</p>
					<p class="icon favor"><a class="violet-link" href="#">В избранное</a></p>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="well cute"><img src="img/bride/bride.png"/></div>
			</td>
			<td>
				<div class="well cute"><img src="img/bride/bride.png"/></div>
			</td>
			<td>
				<div class="well cute"><img src="img/bride/bride.png"/></div>
			</td>
			<td>
				<div class="well cute"><img src="img/bride/bride.png"/></div>
			</td>
		</tr>
		<tr class="last-tr">
			<td colspan="2">
				<button class="btn btn-pink-light">Скидка 15 %</button>
			</td>
			<td colspan="2">
				<div class="portfolio">
					<a href="#">Фото (631)</a>
					<a href="#">Видео (7)</a>
					<a href="#">Отзывы (0)</a>
				</div>
			</td>
		</tr>
	</table>
	<div class="row"><div class="brown-line"></div></div>
	<table class="catalog-out">
		<tr>
			<td >
				<div class="well cute">
					<img src="img/wedding/img.png"/>
				</div>
			</td>
			<td colspan="2">
				<h3 class="large"><a class="violet-link" href="#">Салон свадебной и вечерней моды "Olivia"</a></h3>
				<span>Пенза, Казань, Нижний Новгород, Самара, Москва</span><br />
				<span>Раздел: <a class="beige" href="#">Свадебные платья</a></span><br />
				<span>Много красивых слов.</span>
			</td>
			<td>
				<div class="stat">
					<p class="icon rate">Рейтинг: 520.5</p>
					<p class="icon views">Просмотры: 900</p>
					<p class="icon favor"><a class="violet-link" href="#">В избранное</a></p>
				</div>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<a class="brown-link" href="#">9 советов на покупку свадебного платья</a>
			</td>
			<td rowspan="2">
				<div class="well cute"><img src="img/bride/bride.png"/></div>
			</td>
			<td rowspan="2">
				<div class="well cute"><img src="img/bride/bride.png"/></div>
			</td>
		</tr>
		<tr>
			<td class="padding-top">
				<p>Воспользуйтесь нашими советами чтобы успеть выбрать правильное платье для самого важного в вашей жизни дня!</p>
			</td>
			<td class="padding-top">
				<div class="well cute">
					<img src="img/wedding/img.png"/>
				</div>
			</td>
		</tr>
		<tr class="last-tr">
			<td colspan="2">
				<button class="btn btn-pink-light">Скидка 15 %</button>
			</td>
			<td colspan="2">
				<div class="portfolio">
					<a href="#">Фото (631)</a>
					<a href="#">Видео (7)</a>
					<a href="#">Отзывы (0)</a>
				</div>
			</td>
		</tr>
	</table>
	<div class="row"><div class="brown-line"></div></div>
	<div class="row margin-top">
		<div class="span5">
			<div class="pagination">
				<ul>
					<li><a class="disabled">← Ctrl</a></li>
					<li><a href="#">Prev</a></li>
					<li class="active">
						<a class="btn" href="#">1</a>
					</li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">Next</a></li>
					<li><a class="disabled">Ctrl →</a></li>
				 </ul>
			</div>
		</div>

	</div>


</div>