<% @id = "home" %>
<% @title = "Главная страница" %>

		<div id="articles" class="span4 line2">
			<h2 class="violet upper">Последние статьи</h2>
			<div class="b-line margin-top">
				<span class="label margin-top">21.09.2011</span>
				<h3 class="upper margin-top"><a href="#">В Москве очень много мест, куда можно отправиться молодоженам. Мы хотим представить!</a></h3>
				<p class="margin-top">Нам всем известно, что большинство современных модных тенденций имеют корни в прошлом. Именно тогда были модными свободные юбки, придающие фигуре некоторой загадочности</p>
				<div  class="well cute margin-top">
					<img src="img/foto/foto-big2.png"/>
				</div>
			</div>
			<div class="b-line margin-top">
				<span class="label margin-top">21.09.2011</span>
				<h3 class="upper margin-top"><a href="#">В Москве очень много мест, куда можно отправиться молодоженам. Мы хотим представить!</a></h3>
				<p class="margin-top">Нам всем известно, что большинство современных модных тенденций имеют корни в прошлом. Именно тогда были модными свободные юбки, придающие фигуре некоторой загадочности</p>
				<div  class="well cute margin-top">
					<img src="img/foto/foto-big2.png"/>
				</div>
			</div>
			<div class="b-line margin-top">
				<span class="label margin-top">21.09.2011</span>
				<h3 class="upper margin-top"><a href="#">В Москве очень много мест, куда можно отправиться молодоженам. Мы хотим представить!</a></h3>
				<p class="margin-top">Нам всем известно, что большинство современных модных тенденций имеют корни в прошлом. Именно тогда были модными свободные юбки, придающие фигуре некоторой загадочности</p>
				<div  class="well cute margin-top">
					<img src="img/foto/foto-big2.png"/>
				</div>
			</div>
		</div>

		<div class="span4 line3">
			<h2 class="violet inline upper">Фотогалерея</h2> <span class="violet micro">|</span> <a class="all-stuf violet micro" href="#">Все фото</a> <span class="violet micro">»</span>
			<div class="b-line">
				<div class="row">
					<div class="span2">
						<div class="foto-g">
							<img class="well cute" src="img/foto/foto.png"/>
							<div class="link hide"><a href="#">ссылка</a></div>
						</div>
						<div class="foto-g">
							<img class="well cute" src="img/foto/foto.png"/>
							<div class="link hide"><a href="#">ссылка</a></div>
						</div>
					</div>
					<div class="span2">
						<div class="foto-g">
							<img class="well cute" src="img/foto/foto.png"/>
							<div class="link hide"><a href="#">ссылка</a></div>
						</div>
						<div class="foto-g">
							<img class="well cute" src="img/foto/foto.png"/>
							<div class="link hide"><a href="#">ссылка</a></div>
						</div>
					</div>
				</div>

			</div>
			<div class="b-line margin-top">
				<h2 class="violet inline upper">Видеогалерея</h2> <span class="violet micro">|</span> <a class="all-stuf violet micro" href="#">Все видео</a> <span class="violet micro">»</span>
				<h3><a class="brown-link" href="#">Видео Маши и Саши со свадьбы 23 декабря.</a></h3>
				<div class="video-box margin-top"></div>
			</div>
			<div class="margin-top">
				<h2 class="violet inline upper">Последние сообщения на форуме</h2> 
				<div class="inline" id="to-forum">
					<span class="violet micro">|</span> <a class="all-stuf violet micro" href="#">Все сообщения</a> <span class="violet micro">»</span>
				</div>
				<div class="white-b shadow-line">
					<div class="pull-left">
						<img  src="img/forum/forum.png"/>
					</div>
					<div class="white-b-cont">
						<span class="label">21.09.2011</span>
						<a class="brown-link" href="#"><p>В Москве очень много мест, куда можно отправиться молодоженам. Мы хотим представить варианты! :)</p></a>
					</div>
				</div>
				<div class="white-b shadow-line">
					<div class="pull-left">
						<img  src="img/forum/forum.png"/>
					</div>
					<div class="white-b-cont">
						<span class="label">21.09.2011</span>
						<a class="brown-link" href="#"><p>В Москве очень много мест, куда можно отправиться молодоженам. Мы хотим представить варианты! :)</p></a>
					</div>
				</div>
				<div class="white-b shadow-line">
					<div class="pull-left">
						<img  src="img/forum/forum.png"/>
					</div>
					<div class="white-b-cont">
						<span class="label">21.09.2011</span>
						<a class="brown-link" href="#"><p>В Москве очень много мест, куда можно отправиться молодоженам. Мы хотим представить варианты! :)</p></a>
					</div>
				</div>
			</div>



		</div>
	</div>
