<% @id = "inside" %>
<% @title = "Внутренняя страница" %>
<div class="span8 line2">
	<div>
		<a class="brown-link" href="#">Главная</a>
		<span>/<span>
		<a class="brown-link" href="#">Свадебный каталог</a>
		<span>/<span>
		<span class="current">Элемент «Крошка»</span>
	</div>
	<div class="row margin-top">
		<div class="span8">
			<div class="description-box">
				<h2 class="violet upper margin-top">Заголовок первого уровня, подгружаемый шрифт</h2>
				<p class="margin-top">Обычный текст, занимающий всю ширину контентной области, не являющийся комментарием или ссылкой должен быть размеров 14 пунктов, с отступом 20 пикселей, межстрочный интервал 18 пунктов. Интервал между абзацами 7 пунктов.</p>
				
				<p>Свадебное платье, пожалуй, является <a href="#">обычной ссылкой в тексте</a>. Ведь невеста, и ее свадебное платье соответственно, <a href="#">меняется при наведении курсора</a>. </p>
				<p>Для того, чтобы помочь сделать этот ответственный выбор, мы собрали для вас базу данных. В ней представлены свадебные салоны в разных городах, где можно купить свадебное платье, взять платье невесты напрокат или сшить свадебное платье на заказ  по индивидуальным меркам.</p>
				<ul class="violet">
					<li><a href="#">Ссылки списком</a></li>
					<li><a href="#">Внутри списка</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span2">
			<div class="well cute">
				<img src="img/wedding/img.png"/>
			</div>
		</div>
		<div class="span2">
			<a class="pro brown-link" href="#">Заголок блока ссылкой.</a>
			<p class="little">Текст мельче делать нельзя. иллюстрацию к тексту уже (по ширине) делать нельзя. </p>
		</div>
		<div class="span2">
			<div class="well cute">
				<img src="img/wedding/img2.png"/>
			</div>
		</div>
		<div class="span2">
			<a class="pro brown-link" href="#">МОЖЕТ БЫТЬ НАБРАН ЗАГЛАВНЫМИ</a>
			<p class="little">Свадебные платья и аксессуары коллекции салона «Classic de luxe"</p>
		</div>

	</div>
	<div class="row">
		<div class="span5">
			<div class="pagination">
				<ul>
					<li><a class="disabled">← Ctrl</a></li>
					<li><a href="#">пред.</a></li>
					<li class="active">
						<a class="btn" href="#">1</a>
					</li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#">след.</a></li>
					<li><a class="disabled">Ctrl →</a></li>
				 </ul>
			</div>
		</div>
		<div class="span3">
			<button class="btn btn-pink-light">Добавить компанию в католог</button>
		</div>
	</div>
	<div class="row"><div class="brown-line margin-top"></div></div>
	<div class="row margin-top">
		<div class="span4">
			<h2 class="brown upper">Заголовок второго уровня</h2>
		</div>
	</div>
	<div class="row margin-top">
		<div class="span4">
			<div class="well cute">
				<img src="img/foto/large.png"/>
			</div>
		</div>
		<div class="span4">
			<p>Модные тенденции сезона, свадьба зарубежом, оригинальные сценарии, романтические предложения, оформление банкета, тематические свадьбы и множество вопросов, которые волнуют каждую невесту перед свадьбой. Ответы здесь! Ищите совета, обменивайтесь опытом и узнавайте больше - пусть ваша свадьба будет неповторимой.</p>
		</div>
	</div>
	<div class="row">
		<div class="span8">
			<h3 class="violet">ЗАГОЛОВОК ТРЕТЬЕГО УРОВНЯ</h3>
			<ul class="margin-top">
				<li>Високосный год — неудачный брак;</li>
				<li>Потерялось обручальное кольцо — потеряется и супруг;</li>
				<li>Брак, заключённый после полудня — более удачный;</li>
				<li>На свадьбу необходимо приглашать нечётное число гостей — это к счастью;</li>
				<li>Падение обручального кольца из рук — к несчастью.</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="span2">
			<div class="well cute">
				<img src="img/foto/illustr2.png"/>
			</div>
			<p class="little">Текст мельче делать нельзя. иллюстрацию к тексту уже (по ширине) делать нельзя.</p>
		</div>
		<div class="span2">
			<div class="well cute">
				<img src="img/foto/illustr.png"/>
			</div>
			<p class="little">Фотография в альбоме</p>
		</div>
		<div class="span2">
			<div class="well cute">
				<img src="img/foto/illustr1.png"/>
			</div>
			<p class="little">Предположим, квадратными они тоже могут быть.</p>
		</div>
		<div class="span2"></div>
	</div>
	<div class="row"><div class="brown-line margin-top"></div></div>
	<div class="row margin-top">
		<div class="span4">
			<h2 class="brown margin-top">КОММЕНТАРИИ</h2>
		</div>
	</div>
	<div class="row margin-top">
		<div class="span1 margin-top">
			<div>
				<img src="img/forum/forum.png"/>
			</div>
		</div>
		<div class="span7 margin-top">
			<div>
				<a class="brown-link" href="#">Автор комментария</a>
				<span>1.05.12  00.35.44</span>
			</div>
			<p class="margin-top wh-line">Ой девочки! Осталась всего НЕДЕЛЯ! Меня всю трясет, колотит. Нервы уже реально на пределе. Стала занудой, каждое движение, каждое действие контролирую! Любимый вот сейчас как раз в городе, в котором свадьба будет, я ему список всего написала и каждый день звоню, узнаю  что сделано а что нет.</p> 
		</div>
	</div>
	<div class="row">
		<div class="span1">
			<div>
				<img src="img/forum/forum.png"/>
			</div>
		</div>
		<div class="span7">
			<div>
				<span class="brown">Неизвестный автор</span>
				<span>1.05.12  00.35.44</span>
			</div>
			<p class="margin-top wh-line"><span class="brown">Aвтор комментария,</span> Девочки, я ругалась с мужем все 3 дня подготовки к нашей тайской свадьбе: мы выносили друг другу мозг и выедали печень. Муж требовал букет из роз, а я орала что этого не будет, я не собиралась выходить замуж без фаты а он в последний момент решил что его обрвз - это образ Че Гевары, и мы искали сигару по всей Паттае. Остановиться было невозможно. Но я ничуть не жалею от этом.</p> 
		</div>
	</div>
	<div class="row">
		<div class="span7 offset1">
			<h3 class="violet upper margin-top">ОСТАВИТЬ КОММЕНТАРИЙ</h3>
			<form class="form-horizontal margin-top">
				<fieldset>
					<div class="control-group">
						<label class="control-label" for="input01">Имя пользователя:</label>
						<div class="controls">
							<input type="text" class="input" id="input01">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="input01">Электронная почта:</label>
						<div class="controls">
							<input type="text" class="input" id="input01">
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<label class="radio inline">
								<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
										Доступ для всех
							</label>
							<label class="radio inline">
								<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
									Только пользователям
							</label>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<label class="checkbox">
								<input type="checkbox" id="optionsCheckbox" value="option1">
									Уведомлять меня об ответах
							</label>
						</div>
					</div>
			  		<div class="control-group">
						<div class="controls">
				  			<textarea class="input-xlarge" id="textarea" rows="3"></textarea>
						</div>
			  		</div>
			  		<div class="control-group">
			  			<div class="controls">
							<button type="submit" class="btn btn-pink-light">Добавить компанию в католог</button>
						</div>
			  		</div>
			</fieldset>
		</form>
		</div>
	</div>

</div>