<% @id = "search" %>
<% @title = "Результаты поиска" %>
<div class="span8 line2">
	<div>
		<div>
		<a class="brown-link" href="#">Главная</a>
		<span>/<span>
		<a class="brown-link" href="#">Поиск</a>
		<span>/<span>
		<span class="current">Результаты поиска</span>
	</div>
	</div>
	<div class="row margin-top">
		<div class="span8">
			<h2 class="violet">ПОИСК</h2>
		</div>
	</div>
	<div class="row margin-top">
		<div class="span5">
			<input type="text" placeholder="Страница результатов поиска"></input>
		</div>
		<div class="span3">
			<button class="btn btn-pink-light">ИСКАТЬ НА САЙТЕ</button>
		</div>
	</div>
	<div class="row margin-top">
		<div class="span8">
			<div class="pagination">
				<ul>
					<li><a href="#">Prev</a></li>
					<li class="active">
						<a href="#">1</a>
					</li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">Next</a></li>
				 </ul>
			</div>
		</div>
		<div class="span8">
			<ol class="search-result-box">
				<li class="search-result">
					<a class="violet-link" href="#">Страница результатов поиска</a>
					<p class="small"><b>Страница результатов поиска</b> (англ. Search engine results page, SERP) — веб-страница, генерируемая поисковой системой в ответ на поисковый ...</p>
					<a class="brown-link" href="#">ru.wikipedia.org/wiki/Страница_результатов_поиска</a>
				</li>
				<li class="search-result">
					<a class="violet-link" href="#">Страница результатов поиска</a>
					<p class="small"><b>Страница результатов поиска</b> (англ. Search engine results page, SERP) — веб-страница, генерируемая поисковой системой в ответ на поисковый ...</p>
					<a class="brown-link" href="#">ru.wikipedia.org/wiki/Страница_результатов_поиска</a>
				</li>
			</ol>
		</div>
		<div class="span8">
			<div class="pagination">
				<ul>
					<li><a href="#">Prev</a></li>
					<li class="active">
						<a href="#">1</a>
					</li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">Next</a></li>
				 </ul>
			</div>
		</div>		
	</div>
</div>