.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

/**
 * Background noise recipe
 * 
 * This recipe use a sass function to generate a .png file
 * 
 * Inspired by a jQuery plugin "Noisy" by Daniel Rapp @DanielRapp
 * @link https://github.com/DanielRapp/Noisy
 * 
 * Converted using Sass by Aaron Russell @aaronrussell & Philipp Bosch @philippbosch
 * @link https://gist.github.com/1021332
 * 
 * Ported to a sass gem by Antti Salonen @antsa
 * @link https://github.com/antsa/sassy_noise
 * 
 * Mixin:        background-noise
 * Function:     background_noise
 * 
 * @author Daniel Rapp @DanielRapp
 * @author Aaron Russell @aaronrussell
 * @author Philipp Bosch @philippbosch
 * @author Antti Salonen @antsa
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 *
 * @class Gradients
 * @author David Kaneda http://www.davidkaneda.com/
 *
 */
/**
 * Adds a background gradient into a specified selector.
 * 
 *     @include background-gradient(#444, 'glossy');
 * 
 * You can also use color-stops if you want full control of the gradient:
 * 
 *     @include background-gradient(#444, color-stops(#333, #222, #111));
 * 
 * @param {color} $bg-color
 * The base color of the gradient.
 * 
 * @param {string/list} $type
 * The style of the gradient, one of five pre-defined options: matte, bevel, glossy, recessed, or linear:
 *
 *     @include background-gradient(red, 'glossy');
 *
 * It can also accept a list of color-stop values:;
 * 
 *     @include background-gradient(black, color-stops(#333, #111, #000));
 * 
 * @param {string} $direction
 * The direction of the gradient.
 */
/**
 * Blueprint grid background pattern
 * 
 * @link http://lea.verou.me/css3patterns/#blueprint-grid
 *
 * @author Lea Verou http://lea.verou.me/ for the original pattern
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx for the sass mixin
 */
/**
 * Background overlay inspired by Google Chrome modal overlay
 * 
 * @author Maxime Thirouin @MoOx maxime.thirouin@gmail.com
 */
/**
 *
 * Before compass 0.11.5, you need to add
 * Compass::BrowserSupport.add_support("repeating-linear-gradient", "webkit", "moz", "o", "ms")
 * To your configuration (config.rb)
 * @see https://github.com/chriseppstein/compass/issues/401
 *
 * @link http://lea.verou.me/css3patterns/#tartan
 *
 * @author Marta Armada http://swwweet.com/ for the original pattern
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx for the sass mixin
 */
/**
 * Carbon Fiber background pattern
 *
 * @author Lea Verou http://lea.verou.me/ for the original pattern
 * @author David Kaneda http://www.davidkaneda.com/ for the Sass mixin
 *
 * @link http://lea.verou.me/css3patterns/
 *
 */
/**
 * Striped background patterns
 *
 * Before compass 0.11.5, you need to add
 * Compass::BrowserSupport.add_support("repeating-linear-gradient", "webkit", "moz", "o", "ms")
 * To your configuration (config.rb)
 * @see https://github.com/chriseppstein/compass/issues/401
 *
 * @link http://lea.verou.me/css3patterns/#horizontal-stripes
 * @link http://lea.verou.me/css3patterns/#vertical-stripes
 *
 * @author Lea Verou http://lea.verou.me/ for the original pattern
 * @author Mason Wendell mason@canarypromo.com @canarymason for the sass mixin
 */
/**
 * Cicada background pattern
 *
 * @link http://lea.verou.me/css3patterns/#cicada-stripes
 *
 * @author Randy Merril http://forthedeveloper.com/ for the original pattern
 * @author Mason Wendell mason@canarypromo.com @canarymason for the sass mixin
 */
/**
 *
 * Tablecloth background pattern
 *
 * @link http://lea.verou.me/css3patterns/#tablecloth
 *
 * @author Lea Verou http://lea.verou.me/ for the original pattern
 * @author Mason Wendell mason@canarypromo.com @canarymason for the sass mixin
 */
/**
 * Lined paper background pattern
 *
 * @link http://lea.verou.me/css3patterns/#lined-paper
 *
 * @author Sarah Backhouse http://www.jadu.net/ for the original pattern
 * @author Mason Wendell mason@canarypromo.com @canarymason for the sass mixin
 */
/**
 * Madras background pattern
 *
 * Before compass 0.11.5, you need to add
 * Compass::BrowserSupport.add_support("repeating-linear-gradient", "webkit", "moz", "o", "ms")
 * To your configuration (config.rb)
 * @see https://github.com/chriseppstein/compass/issues/401
 *
 * @link http://lea.verou.me/css3patterns/#madras
 *
 * @author Divya Manian http://nimbupani.com/ for the original pattern
 * @author Mason Wendell mason@canarypromo.com @canarymason for the sass mixin
 */
/**
 * Checkerboard background pattern
 *
 * @link http://lea.verou.me/css3patterns/#checkerboard
 * @link http://lea.verou.me/css3patterns/#diagonal-checkerboard
 *
 * @author Lea Verou http://lea.verou.me/ for the original pattern
 * @author Mason Wendell mason@canarypromo.com @canarymason for the sass mixin
 */
/**
 *
 * Houndstooth background pattern
 *
 * @link http://lea.verou.me/css3patterns/#houndstooth
 *
 * @author Antoine Bernier http://abernier.name for the original pattern
 * @author Mason Wendell mason@canarypromo.com @canarymason for the sass mixin
 */
/**
 *
 * Polkadot background pattern
 *
 * @link http://lea.verou.me/css3patterns/#polka-dot
 *
 * @author Lea Verou http://lea.verou.me/ for the original pattern
 * @author Mason Wendell mason@canarypromo.com @canarymason for the sass mixin
 */
/**
 * Normalize.css
 * Opposite approche from CSS reset
 * 
 * Based on normalize.css commit 9576d48fc234c5224b1fc4dccba2f5965243843d
 *
 * @link http://github.com/necolas/normalize.css
 */
/* normalize.css 2011-07-12T10:51 UTC ┬╖ http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 element display
   ========================================================================== */
/* =============================================================================
   Base
   ========================================================================== */
/* =============================================================================
   Links
   ========================================================================== */
/* =============================================================================
   Typography
   ========================================================================== */
/* =============================================================================
   Lists
   ========================================================================== */
/* =============================================================================
   Embedded content
   ========================================================================== */
/* =============================================================================
   Figures
   ========================================================================== */
/* =============================================================================
   Forms
   ========================================================================== */
/* =============================================================================
   Tables
   ========================================================================== */
/**
 *
 * @author David Kaneda - http://www.davidkaneda.com
 *
 */
/**
 * @class Color
 */
/**
 * Returns the brightness (out of 100) of a specified color.
 * @todo explain why this is useful
 * @param {color} $color The color you want the brightness value of
 * @return {measurement}
 */
/**
 * Returns the luminosity for a specified color
 * @todo explain why this is useful
 * @param {color} The color to check
 * @return {measurement}
 */
/**
 * Glass effect
 * Use this on image for better effect render
 * 
 * Inspired from Simurai's IMDB redisign
 *
 * @link http://lab.simurai.com/redesign/imdb
 * @thanks Simurai @simurai
 */
/**
 * Note IE7/6 doesn't understand pseudo element as ::before and ::after
 * IE8 need to have :before and not ::before
 * So use only : and not :: if you want to support IE8
 * IE9 Webkit Firefox Opera understand ::
 */
/**
 * Scotch tape effect with pure CSS
 * 
 * @thanks Nick La @nickla for original concept
 * @link http://webdesignerwall.com/tutorials/css3-image-styles
 * 
 * @author David Kaneda http://www.davidkaneda.com
 *
 */
/**
 * Note IE7/6 doesn't understand pseudo element as ::before and ::after
 * IE8 need to have :before and not ::before
 * So use only : and not :: if you want to support IE8
 * IE9 Webkit Firefox Opera understand ::
 */
/**
 * Corner folded with pure CSS
 * 
 * Known support: Firefox 3.5+, Chrome 4+, Safari 4+, Opera 10+, IE 9+.
 * IE8 is not supported because it not render properly box-shadow and
 * pseudo element should be selected with ::element and not :element
 * 
 * @thanks Nicolas Gallagher @necolas
 * @link http://nicolasgallagher.com/pure-css-folded-corner-effect/demo/
 * @todo Nix in .4
 */
/**
 * Corner folded with pure CSS
 * 
 * Known support: Firefox 3.5+, Chrome 4+, Safari 4+, Opera 10+, IE 9+.
 * IE8 is not supported because it not render properly box-shadow and
 * pseudo element should be selected with ::element and not :element
 * 
 * @thanks Nicolas Gallagher @necolas
 * @link http://nicolasgallagher.com/pure-css-folded-corner-effect/demo/
 */
/**
 * Note IE7/6 doesn't understand pseudo element as ::before and ::after
 * IE8 need to have :before and not ::before
 * So use only : and not :: if you want to support IE8
 * IE9 Webkit Firefox Opera understand ::
 */
/**
 * Corner folded with pure CSS
 * 
 * Known support: Firefox 3.5+, Chrome 4+, Safari 4+, Opera 10+, IE 9+.
 * IE8 is not supported because it not render properly box-shadow and
 * pseudo element should be selected with ::element and not :element
 * 
 * @thanks Nicolas Gallagher @necolas
 * @link http://nicolasgallagher.com/pure-css-folded-corner-effect/demo/
 */
/**
 * Note IE7/6 doesn't understand pseudo element as ::before and ::after
 * IE8 need to have :before and not ::before
 * So use only : and not :: if you want to support IE8
 * IE9 Webkit Firefox Opera understand ::
 */
/**
 * Form element inline mixin
 * This mixin allow you to have a label inline with your input
 * It's simply based on inline-block behavior
 *
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Vertical alignement for page
 * Inspired by http://css-tricks.com/snippets/css/center-div-with-dynamic-height/
 * 
 * Usage:
 * 
 * SCSS
 * @include vertical-align-requirement;
 * .v-align-container { @include vertical-align-container }
 * .v-align-content-container { @include vertical-align-content-container }
 * .v-align-content { @include vertical-align-content }
 * 
 * HTML
 * <body>
 *     <div class="v-align-container">
 *         <div class="v-align-content-container">
 *             <div class="v-align-content">
 *             Your content !
 *             </div>
 *         </div> 
 *     </div>
 * </body>
 *
 * @thanks Chris Coyier @chriscoyier
 * @autor Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Media Queries Mixins
 * 
 * @todo Do we have to take care of print ?
 * 
 * @require sass-3.2 (you need eventually to do "sudo gem install sass --pre")
 * @author Maxime Thirouin <maxime.thirouin@gmail.com>
 */
/*
$media-query-width-big: 1280px;
$media-query-width-medium: 960px;
$media-query-width-small: 480px;
*/
/**
 * Drop shadow mixins from Nicolas Gallagher demo
 * 
 * @thanks Nicolas Gallagher @necolas, @simurai, @cameronmoll, @matthamm
 * 
 * @link http://nicolasgallagher.com/css-drop-shadows-without-images/demo/
 */
/**
 * Drop shadow curled
 *
 * @thanks Nicolas Gallagher @necolas
 * @link http://nicolasgallagher.com/css-drop-shadows-without-images/demo/
 */
/**
 * Drop shadow curved
 *
 * @thanks Nicolas Gallagher @necolas
 * @link http://nicolasgallagher.com/css-drop-shadows-without-images/demo/
 */
/**
 * Drop shadow flying
 *
 * @thanks Geoffrey Crofte @geoffrey_crofte
 * @link http://www.creativejuiz.fr/trytotry/css3-box-shadow-after-before/
 */
/**
 * Drop shadow w/ lifted corners
 *
 * @thanks Nicolas Gallagher @necolas
 * @link http://nicolasgallagher.com/css-drop-shadows-without-images/demo/
 */
/**
 * Drop shadow w/ perspective
 *
 * @thanks Nicolas Gallagher @necolas
 * @link http://nicolasgallagher.com/css-drop-shadows-without-images/demo/
 */
/**
 * Drop shadow raised
 *
 * @thanks Nicolas Gallagher @necolas
 * @link http://nicolasgallagher.com/css-drop-shadows-without-images/demo/
 */
/**
 * Drop shadow rules required for transform on drop shadow
 * 
 * /!\ This is required if you want to apply some transform on the element using drop shadow
 *
 * @thanks Nicolas Gallagher @necolas
 * @link http://nicolasgallagher.com/css-drop-shadows-without-images/demo/
 */
/**
 * Shadow along the top edge of the browser viewport
 * 
 * @link http://playground.genelocklin.com/depth/
 */
/**
* Shapes !
* Polygons, ellipses and symbols
* 
* @thanks Chris Coyier @chriscoyier
* @link http://css-tricks.com/examples/ShapesOfCSS/
* @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
*/
/**
 * Shape/Ellipse
 *
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Shape/Polygon
 *
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Shape/Polygon/Hexagon
 *
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Shape/Polygon/Octagon
 *
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Shape/Polygon/Parallelogram
 *
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Shape/Polygon/Pentagon
 *
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Shape/Polygon/Rectangle
 *
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Shape/Polygon/Rhombus
 *
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Shape/Polygon/Square
 *
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Shape/Polygon/Star
 *
 * @todo check if setting a z-index by default is a good thing
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Shape/Polygon/Trapezoid
 *
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Shape/Polygon/Triangle
 *
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Shape/Symbol
 *
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Shape/Symbol/Diamond
 *
 * @todo add height support
 * 
 * @author Alexander Futekov
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Shape/Symbol/Egg
 *
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Shape/Symbol/Heart
 * 
 * @author Nicolas Gallagher @necolas
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Shape/Symbol/Infinity
 * 
 * @author Nicolas Gallagher @necolas
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Shape/Symbol/Pacman
 *
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Shape/Symbol/Yin-yang
 *
 * @author Alexander Futekov
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Micro clearfix hack
 * 
 * The clearfix hack is a popular way to clear floats without resorting to using presentational markup. This article presents an update to the clearfix method that further reduces the amount of CSS required.
 * Known support: Firefox 2+, Safari 2+, Chrome, Opera 9.27+, IE 6+, IE Mac.
 *
 * @thanks Nicolas Gallagher @necolas
 * @link http://nicolasgallagher.com/micro-clearfix-hack/
 */
/**
 * Note IE7/6 doesn't understand pseudo element as ::before and ::after
 * IE8 need to have :before and not ::before
 * So use only : and not :: if you want to support IE8
 * IE9 Webkit Firefox Opera understand ::
 */
/**
 * UI convex effect from one color
 *
 * @todo merge with ui-button ?
 *
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * UI Glossy helper
 *
 * @deprecated
 * @todo Remove in 0.4
 * @see background/gradients
 *
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * UI simple gradient from one color
 *
 * @todo merge with ui-button ?
 *
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Shape/Polygon/Triangle
 *
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Keyboard key touch
 * A simple stylesheet for rendering beautiful keyboard-style elements.

 * @author Michael H├╝neburg http://michaelhue.com/keyscss
 * @link https://github.com/michaelhue/keyscss (commit 76bb603e921d0145362e0f60eabb79d4f69cbda0)
 *
 * @author Maxime Thirouin @MoOx maxime.thirouin@gmail.com
*/
/**
 * Menu dropdown helper
 *
 * @author Maxime Thirouin @MoOx maxime.thirouin@gmail.com
*/
/**
 * Ui background overlay inspired by Google Chrome modal overlay
 * 
 * @author Maxime Thirouin @MoOx maxime.thirouin@gmail.com
 */
/**
 * Background overlay inspired by Google Chrome modal overlay
 * 
 * @author Maxime Thirouin @MoOx maxime.thirouin@gmail.com
 */
/**
 * <hr /> separator style
 *
 * @author Chris Coyier @chriscoyier
 * @link http://jsfiddle.net/chriscoyier/GaEzp/35/
 *
 * @author Maxime Thirouin @MoOx maxime.thirouin@gmail.com
 */
/**
 * Micro clearfix hack
 * 
 * The clearfix hack is a popular way to clear floats without resorting to using presentational markup. This article presents an update to the clearfix method that further reduces the amount of CSS required.
 * Known support: Firefox 2+, Safari 2+, Chrome, Opera 9.27+, IE 6+, IE Mac.
 *
 * @thanks Nicolas Gallagher @necolas
 * @link http://nicolasgallagher.com/micro-clearfix-hack/
 */
/**
 * Note IE7/6 doesn't understand pseudo element as ::before and ::after
 * IE8 need to have :before and not ::before
 * So use only : and not :: if you want to support IE8
 * IE9 Webkit Firefox Opera understand ::
 */
/**
 *
 * @class Gradients
 * @author David Kaneda http://www.davidkaneda.com/
 *
 */
/**
 * Adds a background gradient into a specified selector.
 * 
 *     @include background-gradient(#444, 'glossy');
 * 
 * You can also use color-stops if you want full control of the gradient:
 * 
 *     @include background-gradient(#444, color-stops(#333, #222, #111));
 * 
 * @param {color} $bg-color
 * The base color of the gradient.
 * 
 * @param {string/list} $type
 * The style of the gradient, one of five pre-defined options: matte, bevel, glossy, recessed, or linear:
 *
 *     @include background-gradient(red, 'glossy');
 *
 * It can also accept a list of color-stop values:;
 * 
 *     @include background-gradient(black, color-stops(#333, #111, #000));
 * 
 * @param {string} $direction
 * The direction of the gradient.
 */
/**
 * @class Webfont Icon
 * Great to use with the [Pictos font](http://pictos.drewwilson.com/)
 * 
 */
/**
 * @cfg {color} $webfont-icon-base-color
 * The default color of icons when using the {@link #webfont-icon} mixin.
 * 
 * Defaults to `white`.
 */
/**
 * @cfg {color} $webfont-icon-default-stroke
 * The default color to use on the border of icons, when using the {@link #webfont-icon} mixin.
 * 
 * Defaults to `null`.
 */
/**
 * @cfg {string} $webfont-icon-default-gradient
 * The default gradient to use when using the {@link #webfont-icon} mixin.
 * 
 * Defaults to `matte`.
 */
.webfont-icon-base {
  color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  position: absolute;
  top: 0;
  left: 0;
  text-indent: 0;
  text-shadow: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/**
 * Includes a character into the specified selector, styled as an icon.
 * 
 *     @include webfont-icon('a');
 * 
 * @param {color} $color
 * The color of the icon. Defaults to {@link #$webfont-icon-default-background $webfont-icon-default-background}.
 * 
 * @param {measurement} $size
 * The size of the icon
 * 
 * @param {color} $stroke
 * The color of the border. Defautls to {@link #$webfont-icon-default-border $webfont-icon-default-border}.
 * 
 * @param {boolean} $include-staes
 * True to include states for hover and active. Defaults to `true`.
 */
.violet-link {
  color: #9c6bae;
}
.violet-link:hover {
  color: #9c6bae;
}

.dotted-link {
  color: #a49887;
  border-bottom: 1px dotted #a49887;
}
.dotted-link:hover {
  color: #925ca7;
  border-bottom: 1px dotted #925ca7;
  text-decoration: none;
}

.brown-link {
  color: #775a4e;
  font-weight: initial;
  text-decoration: underline;
}
.brown-link:hover {
  color: #874ea0;
}

.beige {
  color: #8e7669;
  text-decoration: underline;
}
.beige:hover {
  color: #874ea0;
}

.all-stuf {
  color: #bd97b2;
  text-decoration: none;
}
.all-stuf:hover {
  color: #bd97b2;
  text-decoration: underline;
}

.ui-datepicker {
  width: 140px;
  padding: 0.2em 0.2em 0;
  display: none;
}
.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: 0.2em 0;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 65px;
  width: 1.8em;
  height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover {
  top: 65px;
}
.ui-datepicker .ui-datepicker-prev {
  left: 168px;
}
.ui-datepicker .ui-datepicker-next {
  right: -70px;
}
.ui-datepicker .ui-datepicker-prev-hover {
  left: 168px;
}
.ui-datepicker .ui-datepicker-next-hover {
  right: -70px;
}
.ui-datepicker .ui-datepicker-prev span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px;
}
.ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
  margin: 0 2.3em;
  line-height: 1.8em;
  text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
  font-size: 1em;
  margin: 1px 0;
}
.ui-datepicker table {
  width: 100%;
  font-size: 0.7em;
  border-collapse: collapse;
  margin: 0 0 0.4em;
}
.ui-datepicker th {
  padding: 3px 3px;
  text-align: center;
  font-weight: bold;
  border: 0;
  color: #7c7c7c;
  text-transform: lowercase;
}
.ui-datepicker td {
  border: none;
}
.ui-datepicker td span, .ui-datepicker td a {
  display: block;
  padding: 0.2em;
  text-align: center;
  text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
  background-image: none;
  margin: 0.7em 0 0 0;
  padding: 0 0.2em;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
  float: right;
  margin: 0.5em 0.2em 0.4em;
  cursor: pointer;
  padding: 0.2em 0.6em 0.3em 0.6em;
  width: auto;
  overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane .ui-datepicker-current {
  float: left;
}
.ui-datepicker .ui-datepicker-title {
  height: 0;
}
.ui-datepicker .ui-datepicker-title .ui-datepicker-month {
  position: absolute;
  left: 143px;
  top: 38px;
  width: 84px;
  text-align: center;
  display: block;
  color: #caacc3;
}
.ui-datepicker .ui-datepicker-title .ui-datepicker-year {
  color: #e1cace;
  position: absolute;
  left: 154px;
  top: 15px;
  font-size: 30px;
}
.ui-datepicker .ui-state-active {
  padding: 0;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d6afb0), color-stop(100%, #9c6bae));
  background: -webkit-linear-gradient(top, #d6afb0 0%, #9c6bae 100%);
  background: -moz-linear-gradient(top, #d6afb0 0%, #9c6bae 100%);
  background: -o-linear-gradient(top, #d6afb0 0%, #9c6bae 100%);
  background: linear-gradient(top, #d6afb0 0%, #9c6bae 100%);
  margin: 0;
  line-height: 17px;
  padding-right: 1px;
  border-top: 1px solid transparent;
  -webkit-box-shadow: 2px 3px 5px -2px #57183d;
  -moz-box-shadow: 2px 3px 5px -2px #57183d;
  box-shadow: 2px 3px 5px -2px #57183d;
}
.ui-datepicker .ui-widget-header {
  font-weight: initial;
}
.ui-datepicker .ui-widget-header .ui-icon {
  background-image: url(images/arrow.png);
  width: 7px;
  height: 8px;
}
.ui-datepicker .ui-widget-header .ui-icon-circle-triangle-w {
  background-position: 2px 0px;
}
.ui-datepicker .ui-widget-header .ui-icon-circle-triangle-e {
  background-position: -9px 0px;
}

@font-face {
  font-family: "Century_Gothic";
  src: url("../font/GOTHIC.ttf");
}

.pagination.center {
  text-align: center;
}

.pagination ul {
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.micro {
  font-size: 10px;
  line-height: 13px;
}

.little {
  font-size: 12px;
  line-height: 13px;
}

.large {
  font-size: 14px;
}

.gray {
  color: #999999;
}

.footer-gray {
  color: #666666;
}

.green {
  color: #3a894c;
}

.brown {
  color: #a49887;
}

.violet {
  color: #9c6bae;
}

.light {
  color: #e9e5d7;
}

span.danger {
  color: #b94a48;
}

.btn-center {
  margin-left: auto;
  margin-right: auto;
  display: table;
}

.form-horizontal .form-actions {
  padding-left: 20px;
}

.form-horizontal .control-label {
  text-align: left;
}

.brand {
  color: white !important;
}

html {
  overflow-y: scroll;
}

html, body {
  height: 100%;
  position: relative;
}

body {
  background: #f9f5e5;
}

.margin-top {
  margin-top: 7px;
}

.padding-top {
  padding-top: 7px !important;
}

.upper {
  text-transform: uppercase;
}

header {
  height: 404px;
  position: relative;
}
header:before {
  content: "";
  position: absolute;
  height: 510px;
  width: 1240px;
  left: -216px;
  top: 0;
  z-index: -1;
  background: url(../img/header5.png) no-repeat;
}
header #header1 {
  position: absolute;
  top: 11px;
  left: 374px;
  letter-spacing: 0px;
  font-size: 12px;
}
header #header2 {
  position: absolute;
  top: 17px;
  left: 553px;
  font-family: arial;
  letter-spacing: 0px;
  font-weight: initial;
}
header #header3 {
  position: absolute;
  top: 36px;
  left: 553px;
  font-family: arial;
  letter-spacing: 0px;
}
header #header3 a {
  color: #9c6bae;
  border-bottom: 1px dotted #9c6bae;
  text-decoration: none;
  font-weight: initial;
}
header #header3 a:hover {
  color: #9c6bae;
  text-decoration: none;
  border-bottom: 1px dotted transparent;
}
header #header4 {
  position: absolute;
  top: 36px;
  right: 10px;
  font-family: arial;
  letter-spacing: 0px;
  font-weight: inherit;
}

#go-search {
  display: inline-block;
}
#go-search img {
  vertical-align: top;
  position: relative;
  top: 1px;
}

article {
  margin-top: -160px;
  position: relative;
}

.inline {
  display: inline-block;
}

h2 {
  font-size: 14px;
  line-height: 20px;
  font-family: "Century_Gothic", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
}

h3 {
  font-size: 11px;
  line-height: 15px;
  font-weight: inherit;
}

p {
  color: #666666;
  font-size: 14px;
  line-height: 18px;
  margin-top: 7px;
}

.current {
  color: #b6ac9b;
}

.top {
  vertical-align: top;
  margin-top: 2px;
}

#nav_top {
  margin-top: 85px;
  height: 36px;
}
#nav_top .nav-top {
  font-size: 12px;
  margin-left: -10px;
  list-style: none;
}
#nav_top .nav-top li {
  float: left;
  padding: 5px 10px;
}
#nav_top .nav-top li:hover {
  background: rgba(225, 225, 225, 0.24);
  border-radius: 5px;
}
#nav_top .nav-top li a {
  color: #775a4e;
}
#nav_top .nav-top li a:hover {
  color: #925ca7;
  background: rgba(0, 0, 0, 0);
  text-decoration: none;
}
#nav_top input {
  width: 120px;
  margin-left: -38px;
  margin-right: 10px;
}

#nav_bottom {
  list-style: none;
  height: 120px;
  margin-left: -10px;
  margin-top: 15px;
  text-transform: uppercase;
  font-size: 10px;
}
#nav_bottom li {
  float: left;
  margin-right: 0px;
  width: 93px;
  height: 108px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  line-height: 1.4em;
}
#nav_bottom li:hover {
  background: white;
  -webkit-box-shadow: 0 0 5px -2px #a49887;
  -moz-box-shadow: 0 0 5px -2px #a49887;
  box-shadow: 0 0 5px -2px #a49887;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
#nav_bottom li a {
  color: #84499e;
  margin-top: 65px;
  display: block;
  font-weight: inherit;
}
#nav_bottom li a:hover {
  color: #84499e;
  text-decoration: none;
}
#nav_bottom #search-goods:before {
  content: "";
  position: absolute;
  height: 83px;
  width: 170px;
  top: -6px;
  left: 0px;
  background: url(../img/nav/nav3.png) no-repeat;
}
#nav_bottom #personal-servses:before {
  content: "";
  position: absolute;
  height: 83px;
  width: 170px;
  top: 11px;
  left: 0px;
  background: url(../img/nav/nav.png) no-repeat;
}
#nav_bottom #invitation-design:before {
  content: "";
  position: absolute;
  height: 83px;
  width: 170px;
  top: 10px;
  left: 0px;
  background: url(../img/nav/nav2.png) no-repeat;
}
#nav_bottom #real-satistics:before {
  content: "";
  position: absolute;
  height: 83px;
  width: 170px;
  top: 16px;
  left: 0px;
  background: url(../img/nav/nav5.png) no-repeat;
}
#nav_bottom #servises-map:before {
  content: "";
  position: absolute;
  height: 83px;
  width: 170px;
  top: 17px;
  left: -3px;
  background: url(../img/nav/nav4.png) no-repeat;
}
#nav_bottom #wedd-pallets:before {
  content: "";
  position: absolute;
  height: 83px;
  width: 170px;
  top: 7px;
  left: 14px;
  background: url(../img/nav/nav1.png) no-repeat;
}

.left-menu-shadow {
  position: relative;
  -webkit-border-radius: 120px 120px 120px 120px/37px 37px 30px 30px;
  -moz-border-radius: 120px 120px 120px 120px/37px 37px 30px 30px;
  -ms-border-radius: 120px 120px 120px 120px/37px 37px 30px 30px;
  -o-border-radius: 120px 120px 120px 120px/37px 37px 30px 30px;
  border-radius: 120px 120px 120px 120px/37px 37px 30px 30px;
}
.left-menu-shadow:before, .left-menu-shadow:after {
  content: "";
  position: absolute;
  z-index: -2;
  bottom: 1.2px;
  width: 50%;
  height: 55%;
  -webkit-box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
}
.left-menu-shadow:before {
  left: 1px;
  -webkit-transform: skew(0deg) rotate(0deg);
  -moz-transform: skew(0deg) rotate(0deg);
  -ms-transform: skew(0deg) rotate(0deg);
  -o-transform: skew(0deg) rotate(0deg);
  transform: skew(0deg) rotate(0deg);
}
.left-menu-shadow:after {
  right: 1px;
  -webkit-transform: skew(0deg) rotate(0deg);
  -moz-transform: skew(0deg) rotate(0deg);
  -ms-transform: skew(0deg) rotate(0deg);
  -o-transform: skew(0deg) rotate(0deg);
  transform: skew(0deg) rotate(0deg);
}

.shadow-line:after {
  content: "";
  position: absolute;
  background: url(../img/shadow/shadow.png);
  width: 249px;
  height: 49px;
  bottom: -20px;
  left: 17px;
  z-index: -1;
}

#left-menu {
  -webkit-border-radius: 120px 120px 120px 120px/37px 37px 30px 30px;
  -moz-border-radius: 120px 120px 120px 120px/37px 37px 30px 30px;
  -ms-border-radius: 120px 120px 120px 120px/37px 37px 30px 30px;
  -o-border-radius: 120px 120px 120px 120px/37px 37px 30px 30px;
  border-radius: 120px 120px 120px 120px/37px 37px 30px 30px;
  margin-left: 36px;
  width: 215px;
  padding: 42px 20px;
  background-color: #f7f0d8;
  background: url(../img/sloi_01.png) no-repeat 0% -160px, url(../img/sloi_02.png) no-repeat 0% 136%, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fcf9e8), color-stop(0%, #f6f3d4), color-stop(30%, #fffdee), color-stop(58%, #f4edd1), color-stop(100%, #ead4ab), color-stop(100%, #e9d6ab), color-stop(100%, #f4e9d5));
  background: url(../img/sloi_01.png) no-repeat 0% -160px, url(../img/sloi_02.png) no-repeat 0% 136%, -webkit-linear-gradient(top, #fcf9e8 0%, #f6f3d4 0%, #fffdee 30%, #f4edd1 58%, #ead4ab 100%, #e9d6ab 100%, #f4e9d5 100%);
  background: url(../img/sloi_01.png) no-repeat 0% -160px, url(../img/sloi_02.png) no-repeat 0% 136%, -moz-linear-gradient(top, #fcf9e8 0%, #f6f3d4 0%, #fffdee 30%, #f4edd1 58%, #ead4ab 100%, #e9d6ab 100%, #f4e9d5 100%);
  background: url(../img/sloi_01.png) no-repeat 0% -160px, url(../img/sloi_02.png) no-repeat 0% 136%, -o-linear-gradient(top, #fcf9e8 0%, #f6f3d4 0%, #fffdee 30%, #f4edd1 58%, #ead4ab 100%, #e9d6ab 100%, #f4e9d5 100%);
  background: url(../img/sloi_01.png) no-repeat 0% -160px, url(../img/sloi_02.png) no-repeat 0% 136%, linear-gradient(top, #fcf9e8 0%, #f6f3d4 0%, #fffdee 30%, #f4edd1 58%, #ead4ab 100%, #e9d6ab 100%, #f4e9d5 100%);
  -pie-background: url(../img/sloi_01.png) no-repeat 0% -160px, url(../img/sloi_02.png) no-repeat 0% 136%, linear-gradient(top, #fcf9e8 0%, #f6f3d4 0%, #fffdee 30%, #f4edd1 58%, #ead4ab 100%, #e9d6ab 100%, #f4e9d5 100%);
  behavior: url(css/PIE/PIE.htc);
}
#left-menu:before, #left-menu:after {
  height: 82%;
  bottom: 40px;
}
#left-menu #nav-left {
  margin-left: 0px;
}
#left-menu #nav-left .active a {
  color: #9c6bae;
  text-decoration: none;
  border-bottom: none;
}
#left-menu #nav-left .active ul {
  margin-left: 0;
  margin-top: 8px;
}
#left-menu #nav-left .active ul li {
  color: #a49887;
  margin-top: 3px;
}
#left-menu #nav-left .active ul li a {
  color: #a49887;
  text-decoration: none;
  font-size: 13px;
  border-bottom: 1px #a49887 solid;
  padding-bottom: 2px;
}
#left-menu #nav-left .active ul li a:hover {
  color: #9c6bae;
  text-decoration: none;
  border-bottom: none;
}
#left-menu #nav-left li {
  margin-left: 20px;
  color: #775a4e;
  margin-top: 7px;
}
#left-menu #nav-left li a {
  color: #775a4e;
  text-decoration: none;
  font-size: 14px;
  border-bottom: 1px #775a4e solid;
  padding-bottom: 2px;
}
#left-menu #nav-left li a:hover {
  color: #9c6bae;
  text-decoration: none;
  border-bottom: none;
}

.b-line {
  border-bottom: 1px dotted #a49887;
}

.wh-line {
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}

.white {
  color: white;
}

.label {
  background-color: #b6a993;
  font-size: 9px;
  text-shadow: none;
  padding: 2px 4px;
}

.cute {
  padding: 2px;
  background: white;
}

.foto-g {
  position: relative;
}
.foto-g .link {
  position: absolute;
  top: 56px;
  left: 6px;
  background-color: #9d6eab;
  background-image: -moz-linear-gradient(top, #ac83b2, #884fa1);
  background-image: -ms-linear-gradient(top, #ac83b2, #884fa1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ac83b2), to(#884fa1));
  background-image: -webkit-linear-gradient(top, #ac83b2, #884fa1);
  background-image: -o-linear-gradient(top, #ac83b2, #884fa1);
  background-image: linear-gradient(top, #ac83b2, #884fa1);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFAC83B2', endColorstr='#FF884FA1', GradientType=0);
  height: 36px;
  width: 115px;
  padding: 2px 10px;
}
.foto-g .link a {
  color: #f0b3d3;
  border-bottom: 0px dotted transparent;
}

.search-result-box {
  border-top: 1px solid #a49887;
  border-bottom: 1px solid #a49887;
  padding: 10px 0px;
  color: #a273b1;
}

.search-result {
  padding: 5px 0;
}
.search-result p {
  color: #666666;
}
.search-result p b {
  color: #333333;
  font-weight: bold;
}
.search-result .violet-link {
  text-decoration: underline;
  font-size: 14px;
}

.pagination {
  margin: 0;
}
.pagination ul {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.pagination .active a {
  color: #e9e5d7;
  background-color: #9762aa;
  background-image: -moz-linear-gradient(top, #a576b3, #82469d);
  background-image: -ms-linear-gradient(top, #a576b3, #82469d);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a576b3), to(#82469d));
  background-image: -webkit-linear-gradient(top, #a576b3, #82469d);
  background-image: -o-linear-gradient(top, #a576b3, #82469d);
  background-image: linear-gradient(top, #a576b3, #82469d);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFA576B3', endColorstr='#FF82469D', GradientType=0);
  border-color: #82469d #82469d #562e68;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
  *background-color: #82469d;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.pagination .active a:hover, .pagination .active a:active, .pagination .active a.active, .pagination .active a.disabled, .pagination .active a[disabled] {
  background-color: #82469d;
  *background-color: #733e8b;
}
.pagination .active a:active, .pagination .active a.active {
  background-color: #65367a \9;
}
.pagination .active a:hover {
  color: #f0b3d3;
}
.pagination a {
  border: none;
  -webkit-box-shadow: 0 0 0 0 0px none;
  -moz-box-shadow: 0 0 0 0 0px none;
  box-shadow: 0 0 0 0 0px none;
  text-decoration: underline;
  color: #a49887;
  padding: 0 10px;
  line-height: 27px;
}
.pagination a:hover {
  color: #775a4e;
  background: transparent;
}

.calendar-pagination {
  margin-left: 20px;
}
.calendar-pagination span {
  color: #8e7669;
}
.calendar-pagination a {
  color: #8e7669;
}
.calendar-pagination a:hover {
  color: #a273b1;
}

.busy-days {
  list-style: none;
  margin-left: 0;
}
.busy-days li {
  margin-top: 5px;
}
.busy-days li a {
  color: #8e7669;
  font-size: 14px;
  text-decoration: underline;
}
.busy-days li a:hover {
  color: #9c6bae;
}

.line1 {
  margin-top: -12px;
}

.line2 {
  margin-top: 30px;
}

.line3 {
  margin-top: 30px;
}

.video-box {
  height: 250px;
  background: gray;
  margin-bottom: 20px;
}

.white-b {
  background-color: #fcfaef;
  padding: 5px 5px 5px 11px;
  min-height: 30px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  margin-top: 15px;
}
.white-b img {
  margin-right: 10px;
  margin-top: 6px;
}
.white-b .white-b-cont {
  display: table-cell;
}

.white-bg {
  background: white;
}

.horizontal {
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(244, 232, 202, 0)), color-stop(1%, #f4e8ca), color-stop(8%, #f4e8cc), color-stop(20%, #f7efdd), color-stop(23%, #f6ead7), color-stop(30%, #f5e8d5), color-stop(35%, #f4e1ce), color-stop(40%, #f2dfce), color-stop(53%, #f3dece), color-stop(82%, #f6e5cb), color-stop(100%, #f5e5cc));
  background: -webkit-linear-gradient(left, rgba(244, 232, 202, 0) 0%, #f4e8ca 1%, #f4e8cc 8%, #f7efdd 20%, #f6ead7 23%, #f5e8d5 30%, #f4e1ce 35%, #f2dfce 40%, #f3dece 53%, #f6e5cb 82%, #f5e5cc 100%);
  background: -moz-linear-gradient(left, rgba(244, 232, 202, 0) 0%, #f4e8ca 1%, #f4e8cc 8%, #f7efdd 20%, #f6ead7 23%, #f5e8d5 30%, #f4e1ce 35%, #f2dfce 40%, #f3dece 53%, #f6e5cb 82%, #f5e5cc 100%);
  background: -o-linear-gradient(left, rgba(244, 232, 202, 0) 0%, #f4e8ca 1%, #f4e8cc 8%, #f7efdd 20%, #f6ead7 23%, #f5e8d5 30%, #f4e1ce 35%, #f2dfce 40%, #f3dece 53%, #f6e5cb 82%, #f5e5cc 100%);
  background: linear-gradient(left, rgba(244, 232, 202, 0) 0%, #f4e8ca 1%, #f4e8cc 8%, #f7efdd 20%, #f6ead7 23%, #f5e8d5 30%, #f4e1ce 35%, #f2dfce 40%, #f3dece 53%, #f6e5cb 82%, #f5e5cc 100%);
  -pie-background: linear-gradient(left, rgba(244, 232, 202, 0) 0%, #f4e8ca 1%, #f4e8cc 8%, #f7efdd 20%, #f6ead7 23%, #f5e8d5 30%, #f4e1ce 35%, #f2dfce 40%, #f3dece 53%, #f6e5cb 82%, #f5e5cc 100%);
  behavior: url(css/PIE/PIE.htc);
}

#calendar {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  min-height: 320px;
  position: relative;
  padding-right: 40px;
  padding-left: 24px;
  padding-top: 15px;
}
#calendar:before {
  content: "";
  position: absolute;
  height: 159px;
  width: 79px;
  bottom: 14px;
  left: 170px;
  background: url(../img/bocal.png) no-repeat;
}
#calendar #sampun {
  position: absolute;
  bottom: 42px;
  left: 25px;
  display: block;
  width: 160px;
}
#calendar #pink-line {
  position: absolute;
  top: 105px;
  right: 43px;
  background: url(../img/lines/line.png) no-repeat;
  height: 15px;
  width: 2px;
}

#weddings {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  min-height: 192px;
  padding-left: 24px;
  padding-top: 15px;
  padding-right: 40px;
  position: relative;
}
#weddings:before {
  content: "";
  position: absolute;
  height: 75px;
  width: 79px;
  bottom: -28px;
  left: 205px;
  background: url(../img/rings.png) no-repeat;
}
#weddings .gr-line {
  position: relative;
  margin-right: 20px;
}
#weddings .gr-line:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 14px;
  right: -10px;
  top: 3px;
  background: url(../img/lines/line2.png) no-repeat;
}

.abstract {
  background-color: white;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffebbd), color-stop(25%, #fdf0cc), color-stop(43%, #ffecbf), color-stop(49%, #fee9be), color-stop(100%, #eed5c9));
  background: -webkit-linear-gradient(top, #ffebbd 0%, #fdf0cc 25%, #ffecbf 43%, #fee9be 49%, #eed5c9 100%);
  background: -moz-linear-gradient(top, #ffebbd 0%, #fdf0cc 25%, #ffecbf 43%, #fee9be 49%, #eed5c9 100%);
  background: -o-linear-gradient(top, #ffebbd 0%, #fdf0cc 25%, #ffecbf 43%, #fee9be 49%, #eed5c9 100%);
  background: linear-gradient(top, #ffebbd 0%, #fdf0cc 25%, #ffecbf 43%, #fee9be 49%, #eed5c9 100%);
  -pie-background: linear-gradient(top, #ffebbd 0%, #fdf0cc 25%, #ffecbf 43%, #fee9be 49%, #eed5c9 100%);
  behavior: url(css/PIE/PIE.htc);
}

#abstract {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  min-height: 157px;
  padding-left: 24px;
  padding-top: 15px;
  padding-right: 40px;
  position: relative;
}

.modal .modal-footer {
  background-color: transparent;
  border-top: 1px solid transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.modal .modal-footer a {
  margin-right: 251px;
  padding: 3px 43px;
}
.modal .modal-header {
  border-bottom: 1px solid transparent;
}

.left-col-box {
  width: 193px;
  margin-top: 25px;
  margin-left: 34px;
}

footer {
  height: 260px;
  background: url(../img/footer.png) repeat-x;
  margin-top: 30px;
}
footer h2 {
  margin-left: 10px;
}
footer span {
  float: left;
}
footer input {
  width: 110px;
  margin-right: 5px;
}
footer ul {
  color: #775a4e;
  width: 140px;
  margin-top: 15px;
}
footer ul li a {
  color: #775a4e;
  font-size: 12px;
}
footer ul li a:hover {
  color: #874ea0;
}
footer #footer1 {
  height: 196px;
  padding-top: 15px;
}
footer #footer2 {
  height: 35px;
  padding-top: 10px;
}
footer #footer2 span {
  margin-right: 10px;
}
footer #us-in-web {
  margin-left: 36px;
}
footer #us-in-web a {
  margin-left: 2px;
  display: inline-block;
}
footer #us-in-web a img {
  display: inline-block;
}

.btn-pink {
  color: #f0b3d3;
  background-color: #9762aa;
  background-image: -moz-linear-gradient(top, #a576b3, #82469d);
  background-image: -ms-linear-gradient(top, #a576b3, #82469d);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a576b3), to(#82469d));
  background-image: -webkit-linear-gradient(top, #a576b3, #82469d);
  background-image: -o-linear-gradient(top, #a576b3, #82469d);
  background-image: linear-gradient(top, #a576b3, #82469d);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFA576B3', endColorstr='#FF82469D', GradientType=0);
  border-color: #82469d #82469d #562e68;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
  *background-color: #82469d;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  text-shadow: none;
}
.btn-pink:hover, .btn-pink:active, .btn-pink.active, .btn-pink.disabled, .btn-pink[disabled] {
  background-color: #82469d;
  *background-color: #733e8b;
}
.btn-pink:active, .btn-pink.active {
  background-color: #65367a \9;
}
.btn-pink:hover {
  color: #f0b3d3;
}

.btn-pink-light {
  color: #e9e5d7;
  background-color: #9762aa;
  background-image: -moz-linear-gradient(top, #a576b3, #82469d);
  background-image: -ms-linear-gradient(top, #a576b3, #82469d);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a576b3), to(#82469d));
  background-image: -webkit-linear-gradient(top, #a576b3, #82469d);
  background-image: -o-linear-gradient(top, #a576b3, #82469d);
  background-image: linear-gradient(top, #a576b3, #82469d);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFA576B3', endColorstr='#FF82469D', GradientType=0);
  border-color: #82469d #82469d #562e68;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
  *background-color: #82469d;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  text-shadow: none;
}
.btn-pink-light:hover, .btn-pink-light:active, .btn-pink-light.active, .btn-pink-light.disabled, .btn-pink-light[disabled] {
  background-color: #82469d;
  *background-color: #733e8b;
}
.btn-pink-light:active, .btn-pink-light.active {
  background-color: #65367a \9;
}
.btn-pink-light:hover {
  color: #f0b3d3;
}

.pink-b {
  background-color: #fcfaef;
  background-image: -moz-linear-gradient(left, #f1ded2, #fcfaef);
  background-image: -ms-linear-gradient(left, #f1ded2, #fcfaef);
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#f1ded2), to(#fcfaef));
  background-image: -webkit-linear-gradient(left, #f1ded2, #fcfaef);
  background-image: -o-linear-gradient(left, #f1ded2, #fcfaef);
  background-image: linear-gradient(left, #f1ded2, #fcfaef);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF1DED2', endColorstr='#FFFCFAEF', GradientType=1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 4px 5px 0px 10px;
  margin-top: -20px;
  margin-left: 35px;
}
.pink-b span {
  width: 80px;
  display: table-cell;
  vertical-align: middle;
  margin-top: 5px;
}
.pink-b input {
  margin-top: 5px;
}
.pink-b button {
  margin-top: -4px;
}

.pro {
  position: relative;
  margin-left: 16px;
}
.pro:before {
  content: "";
  position: absolute;
  top: 2px;
  left: -18px;
  height: 12px;
  width: 15px;
  background: url(../img/icon/pro.png) no-repeat;
}

.icon {
  position: relative;
}
.icon:before {
  content: "";
  position: absolute;
  top: 3px;
  left: -20px;
  height: 20px;
  width: 15px;
}

.icon_small {
  position: relative;
}
.icon_small:before {
  content: "";
  position: absolute;
  top: 0px;
  left: -20px;
  height: 20px;
  width: 15px;
}

.brown-line {
  border-bottom: 1px solid #c6b9a5;
  width: 620px;
  margin-left: 20px;
}

.description-box p {
  margin-left: 20px;
}
.description-box a {
  text-decoration: underline;
  color: #925ca7;
}
.description-box a:hover {
  color: #957c6e;
}
.description-box ul {
  margin-left: 20px;
}
.description-box ul li {
  margin-top: 8px;
}
.description-box .simple-list {
  list-style: none;
  position: relative;
}
.description-box .simple-list li {
  margin-top: 0px;
}
.description-box .simple-list li:before {
  content: "-";
  margin-right: 5px;
}

.functions p {
  color: #8e7669;
  font-size: 12px;
  line-height: 12px;
}
.functions .print {
  margin-left: 16px;
}
.functions .print:before {
  background: url(../img/icon/print.png) no-repeat;
}
.functions .favor {
  margin-left: 16px;
}
.functions .favor:before {
  background: url(../img/icon/favor.png) no-repeat;
}

.print:before {
  background: url(../img/icon/print.png) no-repeat;
}

.favor:before {
  background: url(../img/icon/favor.png) no-repeat;
}

.rate:before {
  background: url(../img/icon/rate.png) no-repeat;
}

.views:before {
  background: url(../img/icon/views.png) no-repeat;
}

.info {
  margin-left: 16px;
}
.info h3 {
  font-size: 14px;
}
.info a {
  font-size: 14px;
  line-height: 18px;
}
.info .time:before {
  background: url(../img/icon/time.png) no-repeat;
}
.info .city:before {
  background: url(../img/icon/city.png) no-repeat;
}
.info .str:before {
  background: url(../img/icon/str.png) no-repeat;
}
.info .skype:before {
  background: url(../img/icon/skype.png) no-repeat;
}
.info .phone:before {
  background: url(../img/icon/phone.png) no-repeat;
}
.info .e-mail:before {
  background: url(../img/icon/email.png) no-repeat;
}
.info .icq:before {
  background: url(../img/icon/icq.png) no-repeat;
}
.info .contact:before {
  background: url(../img/icon/contact.png) no-repeat;
}

#home #articles h3 {
  font-size: 11px;
}
#home #articles h3 a {
  color: #775a4e;
  text-decoration: underline;
  font-weight: initial;
}
#home #articles h3 a:hover {
  color: #874ea0;
}
#home #articles p {
  color: #666666;
  font-size: 12px;
}
#home .line3 h2 {
  max-width: 203px;
}
#home #to-forum {
  float: right;
}

.portfolio a {
  margin-right: 10px;
  color: #a49887;
}
.portfolio a:hover {
  color: #9c6bae;
}
.portfolio button {
  margin-right: 10px;
}

.catalog-out .icon {
  line-height: 14px;
  color: #8e7669;
}
.catalog-out td {
  width: 25%;
  padding: 0 7px;
  vertical-align: top;
}
.catalog-out .last-tr td {
  padding-top: 15px;
  padding-bottom: 25px;
}
.catalog-out td[colspan="2"] {
  width: 50%;
}
.catalog-out tr:first-child td {
  padding-top: 25px;
}
.catalog-out tr:last-child td {
  padding-top: 15px;
  padding-bottom: 25px;
}
.catalog-out .stat {
  margin-left: 20px;
}
.catalog-out .cute {
  width: 138px;
}
.catalog-out .btn {
  padding: 1px 30px;
  font-size: 14px;
}
.catalog-out .portfolio {
  font-size: 14px;
}

#footer-logo {
  background: url(../img/footer/footer-logo.png) no-repeat;
  height: 136px;
  margin-top: -15px;
  height: 176px;
}

#textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
}
