<!doctype html>
<html lang="ru">
	<head>
		<meta charset="utf-8" />
		<title><%= @title %></title>
		<link rel="stylesheet" href="css/screen.css" />
	</head>
	<body class="container" id="<%= @id %>">
		<article class="container">
			<%= yield %>
		</article>
	</body>
	<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> -->
	<script src="js/jquery-1.7.2.min.js"></script>
	<script src="js/bootstrap-tooltip.js"></script>
	<script src="js/bootstrap-dropdown.js"></script>
	<script src="js/bootstrap-popover.js"></script>
	<script src="js/bootstrap-alert.js"></script>
	<script src="js/bootstrap-tab.js.js"></script>
	<script src="js/site.js"></script>
	<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
</html>