<div id="left-menu">
	<!-- <img src="img/left-menu_01.png"/> -->
	<h2 class="violet upper">УСЛУГИ</h2>
	<ul id="nav-left">
		<li><a href="#">Организаторы</a></li>
		<li><a href="#">Свадебные наряды</a></li>
		<li><a href="#">Салоны красоты</a></li>
		<li><a href="#">Обручальные кольца</a></li>
		<li><a href="#">Машины на свадьбу</a></li>
		<li><a href="#">Фото и Видео</a>
			<ul>
				<li><a href="#">Магазины</a></li>
				<li><a href="#">Мастерские</a></li>
				<li><a href="#">Прочее</a></li>
			</ul>
		</li>
		<li><a href="#">Свадебный банкет</a></li>
		<li><a href="#">Свадебные цветы</a></li>
		<li><a href="#">Оформление свадьбы</a></li>
		<li><a href="#">Тамада. Ведущий</a></li>
		<li><a href="#">Свадебный салют</a></li>
		<li><a href="#">Подарки на свадьбу</a></li>
		<li><a href="#">Подготовка к свадьбе</a></li>
		<li><a href="#">Медовый месяц</a></li>
	</ul>
</div>